/**
* @name Comfy
* @author Nyria#3863
* @maintained by Abdist
* @description Stay comfy while talking to your friends
* @invite rtBQX5D3bD
* @version 2.4
* @donate https://ko-fi.com/nyria
*/

@import "https://raw.githubusercontent.com/BlacklightYT/comfy/main/main.css";

@import "https://raw.githubusercontent.com/BlacklightYT/comfy/main/user-waves-nyan.css";

@import "https://comfy-themes.github.io/Discord/betterdiscord/no-scrollbar.css";

@import "https://comfy-themes.github.io/Discord/betterdiscord/better-spotify.css";



:root {
  --disable-animations: 2s channel-unread infinite;
  --user-buttons-spacing: 8px;
  --user-buttons-color: rgba(194,166,200,1);
  --avatar-radius: 5px;
  --status-radius: 3px;
  --server-radius: 8px;
  --colored-emoji: grayscale(0%);
  --mention-color: #f04747;
  --unread-color: #7289da;
  --mention-color-bar: #c66262;
  --mention-color-background: #c662621f;
  --mention-color-hover: #c6626226;
  --chat-buttons:  rgba(194,166,200,1);
  --online: #43b581;
  --iddle: #faa61a;
  --dnd: #f04747;
  --offline: #747f8d;
  --streaming: #593695;
  --playing: #a3425d;
  --role-circle: 5px;
  --discord-logo: none;
}

.theme-dark {
  --background-primary: #23283d;
  --background-secondary: #1e2233;
  --background-secondary-alt: #191f2e;
  --background-tertiary: #101320;
  --background-accent: #9f72da;
  --background-brighter: #2d3550;
  
  --modal-background: #23283d;
  --background-mobile-primary: #23283d;
  --background-mobile-secondary: #1e2233;
  --channeltextarea-background: #191f2e;
  --background-message-hover: transparent;
  --background-modifier-hover: #00000010;
  --background-modifier-active: #0000001a;
  --background-modifier-selected: #0000001f;
  --deprecated-card-bg: #12141f63;
  --background-floating: #101320;
  --deprecated-quickswitcher-input-background: #101320;
  --elevation-low: none;
  --scrollbar-auto-thumb: #121722;
  --scrollbar-auto-track: #191f2e;
  --scrollbar-thin-thumb: #141925;
  --activity-card-background: #101320;
  --input-background: #1e2233;
}

/* Avatar go back to the left side */
:root .panels__58331 > .container_ca50b9 > .avatarWrapper_ba5175 {position: static;}
:root .panels__58331 > .container_ca50b9 > .avatarWrapper_ba5175 > .avatar_f8541f {
  width: 32px !important;
  height: 32px !important;
}
:root .panels__58331 > .container_ca50b9 > .avatarWrapper_ba5175 > .avatar_f8541f foreignObject {
  width: 32px !important;
  height: 32px !important;
}
:root .panels__58331 > .container_ca50b9 > .avatarWrapper_ba5175 > .avatar_f8541f .pointerEvents__33f6a {
  x:  22px;
  y: 22px;
}
:root section.panels__58331 > .container_ca50b9 { 
  height: 52px;
  justify-content: space-between;
}
:root section.panels__58331 > .container_ca50b9 > .flex_f5fbb7 {
  position: static;
  flex-direction: row;
  width: unset;
  z-index: unset;
  background: transparent;
  padding: 0;
}
:root .panels__58331 > .container_ca50b9 > .avatarWrapper_ba5175 > .avatar_f8541f + .nameTag__0e320 {display: block;max-width: 85px;}
:root section.panels__58331 > .container_ca50b9 > .flex_f5fbb7 > .button__4f306 { margin: auto;}
:root nav.guilds__2b93a .scroller-2TZvBN, :root nav.guilds__2b93a .scroller__3d071 { padding-bottom: 0;}
:root .chat__52833 .form__13a2c { padding-left: 16px;}
:root .chat__52833 .form__13a2c .channelTextArea__2e60f .scrollableContainer__33e06::after, :root .chat__52833 .form__13a2c .wrapper_fbbb73::after { content: none;} 
/* Username role background */

.cozy-VmLDNB .headerText-2z4IhQ > .username-h_Y3Us::before {
  content: ''; 
  width: calc(100% + 10px); 
  height: 100%;
  border-radius: 5px;
  background-color: currentColor; 
  opacity: 0.2; 
  position: absolute; 
  top: 0; 
  z-index: -1;
  left: -5px;
}
.cozy-VmLDNB .headerText-2z4IhQ > .username-h_Y3Us {
  margin-left: 5px;
}

.messageListItem__6a4fb {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);

  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.messageListItem__6a4fb:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #3e2f5091; /*Change this to change the color*/
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 20px;
  opacity: 30%;
}
.messageListItem__6a4fb:hover,
.messageListItem__6a4fb:focus,
.messageListItem__6a4fb:active {
  color: white;
}
.messageListItem__6a4fb:hover:before,
.messageListItem__6a4fb:focus:before,
.messageListItem__6a4fb:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.cozy_f5c119 .headerText_f47574 > .username_d30d99::before {
  content: ''; 
  width: calc(100% + 10px); 
  height: 100%;
  border-radius: 5px;
  background-color: currentColor; 
  opacity: 0.2; 
  position: absolute; 
  top: 0; 
  z-index: -1;
  left: -5px;
}
.cozy_f5c119 .headerText_f47574 > .username_d30d99 {
  margin-left: 5px;
}

.typing__6fd1d .text_ca54e9 { display: flex; align-items: center;}

.typing__6fd1d .text_ca54e9 strong { 
    margin: 0 3px;
    line-height: 21px;
    animation: slideUp 300ms;
}
@keyframes slideUp {
    0% { margin-top: -50px;}
    100% { margin-top: 0;}
}

:root {  
    /* This isn't shown in my screenshot but I think it looks cool */
    /* --interactive-active: #6FD6A2; */
    
    /* channel colors */
    --hovering-over-channel: var(--background-mentioned);
    --channel-icon: #a3425d;
    --channel-text-area-placeholder: #6d728ab9;
  
    /* 1. when mentioning a channel bg color */
    --mention-background: var(--background-mentioned);
  
    /* 1. when pinged, foreground color */
    --mention-foreground: var(--main-color);
  
    /* 1. when pinged, background color  */
    --background-mentioned: #a3425d17;
    --background-mentioned-hover: #a3425d21;
    
    /* 2. color of message you're replying to */
    --background-message-highlight: var(--background-secondary-alt);
  
    /* 2. when hovering over a message you're replying to */
    --brand-experiment-10a: #a3425d21;
  
    /* outline of reactions */
    --brand-experiment: #a3425d49; 
    --brand-experiment-15a: var(--background-mentioned-hover);
  
    /* makes muted text color a little more blue */
    --interactive-muted: #565c7bb9;  
}

/* 1. changing the border color of in-chat mention + reply */
:root .mentioned-Tre-dv::before { background-color: var(--main-color); }
:root .message-2CShn3::before { background-color: var(--main-color); }

/* 1. when hovering over channel mentions */
:root .channelMention:hover, .mention:hover { 
  text-decoration: none !important;
  color: var(--main-color);
  background-color: var(--background-mentioned-hover); 
}

/* 5. make bg of quick reacts transparent */
:root .customItem-1KYL7t .button-1zW0-r {
  background-color: transparent; 
}

/* 6. change color of NEW bar to main color */
:root .divider-2rZFJK .unreadPill-3nEWYM {
  position: relative;
  color: var(--main-color);
  top: 0; 
}

/* 6. change color of new message date to main color */
:root .isUnread-3Lojb- .content-3spvdd {
  color: var(--main-color) !important; 
}


.container_df5532 {
  position: relative;
  left: -75px;
  top: -25px;
}

.footerSeparator_f9a4c9 {
    background-color: var(--background-brighter);
}


.mask_c51b4e svg_c51b4e {
  display: none;
}

.mask_c51b4e circle {
  display: none;
}
.pointerEvents_c51b4e:not([mask="url(#svg-mask-status-online-mobile)"]){
  rx:5px;
  filter:
    drop-shadow(1px 0px 0 rgba(0, 0, 0, 0.3)) 
    drop-shadow(0px 1px 0 rgba(0, 0, 0, 0.3)) 
    drop-shadow(-1px 0px 0 rgba(0, 0, 0, 0.3))
    drop-shadow(0px -1px 0 rgba(0, 0, 0, 0.3));
}


.mask_c51b4e rect[fill="black"]:not([mask="url(#svg-mask-status-online-mobile)"]) {
  display: none;
}
.pointerEvents_c51b4e{
  rx:5px;
  filter:
    drop-shadow(1px 0px 0 rgba(0, 0, 0, 0.7)) 
    drop-shadow(0px 1px 0 rgba(0, 0, 0, 0.7)) 
    drop-shadow(-1px 0px 0 rgba(0, 0, 0, 0.7))
    drop-shadow(0px -1px 0 rgba(0, 0, 0, 0.7));
}

.avatar_f9f2ca{
  border-radius: var(--avatar-radius);
}

.theme-dark .themed_fc4f04{
  background-color: var(--background-background-brighter);
}

.clickableUsername_c32acf, .nickname_c32acf.fullSize_c32acf{
  background: linear-gradient(90deg, var(--playing), rgb(140, 52, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.userTagUsername_c32acf{
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b{
  margin-top: 50px;
}
.popoutBanner_c3e427{
  position: absolute;
  height: 240px;
  top: 0px;
}

.customHeader_cfe282{
  padding-top: 120px;
}

.contentColumnDefault_c25c6d{
  padding: 120px 40px 80px
}

.scroller_d20375{
  background-color: var(--background-brighter);
}

.closeButton_df5532 {
  position: relative;
  border-radius: 5px;
}

.button_f9d37d {
  border-radius: 5px;    
}

.form_c1668f .submitButton_c1668f, 
.sortDropdown_a6d69a, .pill_c993da, .tagsButton_a6d69a,
.lookFilled_dd4f85.colorPrimary_dd4f85  {
  border-radius: 6px;
}

.votePercentageBar_cf2c85 {
  background-color: var(--playing);
}

.victorStyles_b5cb3c {
  --custom-poll-style-border: var(--playing);
}

.flowerStar_c91f7d {
  filter: hue-rotate(60deg);
}

.answerSelectionIcon_cf2c85 {
  filter: hue-rotate(560deg);
}

.answerInner_cf2c85 {
  background-color: var(--background-primary);
}

.divider_af45f8 {
    background-color: var(--background-secondary);
}

.theme-dark .textContentFooter_a57509.noTags_a57509 {
  background: none;
  /*background: linear-gradient(to top,hsl(var(--primary-600-hsl)/1),hsl(var(--primary-600-hsl)/0));*/
}

.matchingPostsRow_a6d69a {
  background-color: var(--background-brighter);
}

.lookFilled_dd4f85.colorPrimary_dd4f85 {
  background-color: var(--background-brighter);
}

.contentColumn_c25c6d.contentColumnDefault_c25c6d .grabber_c7a159 { /*Options Volume Grabber position FIX*/
  position: absolute;
  top: 21px;
  background-color: var(--background-brighter);
  border-color: var(--background-primary);
}
#user-context-user-volume > div.sliderContainer_e13f88 > div > div:nth-child(3) > div { /*Direct Path to User Volume Grabber position FIX + ²*/
  position: absolute;
  top: 10px;
  border-radius: 4px;
}
.barFill_c7a159 { /*Drag Bars Color*/
  background-color: var(--playing);
}
.lookFilled_dd4f85.colorBrand_dd4f85 { /*Buttons Color*/
    background-color: var(--playing);
}
.lookFilled_dd4f85.colorBrand_dd4f85:hover { /*Buttons Color Hover*/
    background-color: var(--spotify-vencord-color2);
}

/*User Popout*/

:root .bannerSVGWrapper_b32cc2 { /*Banner Gradient*/
  mask-image: linear-gradient(black 10%, transparent 100%);
}
.body_b07019 { /*Spotify Padding FIX*/
  padding: 0 12px 12px;
}
div.body_b07019.thin_c49869.scrollerBase_c49869.fade_c49869 { /*Spotify Padding FIX*/
  padding-right: 12px !important;
}
.activity_cd74cc {
    background-color: var(--background-secondary-alt); /*Spotify*/
}
.container_c1519f,
.biteSizeOverlayBackground_c69a7b, .fullSizeOverlayBackground_c69a7b { /*Connections*/
    background-color: var(--background-tertiary);
}
.overlay_f94206:after { /*Profile Avatar Hover FIX*/
  border-radius: var(--avatar-radius);  
}
.footer_b07019 { /*Edit Profile Padding FIX*/
    padding: 0 12px 12px;
}
