@import url("https://nyri4.github.io/donators/donators.css");
:root .buttons_d5deea {
  transition: opacity 150ms;
}

:root .spine_e1e976 {
  z-index: 1;
}
:root .container_fd6364 {
  background: var(--background-secondary);
  z-index: 3;
}
:root .unreadTop__6e8c4 {
  top: -9px;
  z-index: 2;
  width: 100%;
  padding: 0;
}
:root .unreadTop__6e8c4 .unreadBar_c43953.mention_c10249 {
  border-radius: 0;
  background: linear-gradient(var(--mention-color), rgba(0, 0, 0, 0));
}
:root .unreadTop__6e8c4 .unreadBar_c43953.unread_c10249 {
  border-radius: 0;
  background: linear-gradient(var(--unread-color), rgba(0, 0, 0, 0));
}
:root .unreadBottom__6be9f {
  width: 100%;
  height: 15px;
  padding: 0;
}
:root .unreadBottom__6be9f .unreadBar_c43953.mention_c10249 {
  border-radius: 0;
  background: linear-gradient(rgba(0, 0, 0, 0), var(--mention-color));
}
:root .unreadBottom__6be9f .unreadBar_c43953.unread_c10249 {
  border-radius: 0;
  background: linear-gradient(rgba(0, 0, 0, 0), var(--unread-color));
}
:root .unreadBar_c43953 > .text_c10249 {
  display: none;
}
:root .mentionsBadge_e2a798 .numberBadge__40d6f {
  background-color: var(--mention-color) !important;
}
:root .mentionsBadge_e2a798 .numberBadge__40d6f::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: inherit;
  border-radius: 100%;
  z-index: -1;
  animation: var(--disable-animations), 2s pulse infinite;
  will-change: transform;
}
:root .unread_d8bfb3 {
  top: 50%;
  left: 5px;
  width: 6px;
  height: 6px;
  z-index: 1;
  background-color: var(--unread-color);
  border-radius: 10px;
  margin-top: 0;
  transform: translate(0%, -50%);
}
:root .unread_d8bfb3::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: inherit;
  border-radius: 100%;
  z-index: 1;
  animation: var(--disable-animations), pulse 2s infinite;
  will-change: transform;
}
:root .activityPanel_a4d4d9,
:root .container_adcaac {
  border-bottom: none;
}
:root .voiceUserSummary_c43953 svg:not(.icon_c47562) {
  padding-right: 10px;
}
:root [mask="url(#svg-mask-voice-user-summary-item)"] {
  mask: none;
}
:root .tile_dc5fc4 {
  background-color: var(--background-secondary-alt);
}
:root .tile_dc5fc4 .button_e5cc00,
:root .tile_dc5fc4 .buttonColor_d4af21 {
  background-color: var(--brand-experiment);
}
:root .container__13b2a .header-2C89wJ {
  background-color: var(--background-tertiary);
}
:root .container__13b2a section {
  background-color: var(--background-secondary);
}
:root .group_e3c4bb {
  width: 110px;
  border: none;
  gap: 5px;
}
:root .group_e3c4bb .item_e3c4bb {
  border-radius: 8px;
}
:root .group_e3c4bb .item_e3c4bb:hover.deny_e3c4bb, :root .group_e3c4bb .item_e3c4bb.selected_e3c4bb.deny_e3c4bb {
  color: #ed4245;
  background-color: rgba(237, 66, 69, 0.1843137255);
}
:root .group_e3c4bb .item_e3c4bb:hover.passthrough_e3c4bb, :root .group_e3c4bb .item_e3c4bb.selected_e3c4bb.passthrough_e3c4bb {
  color: #dcddde;
  background-color: rgba(100, 100, 100, 0.2274509804);
}
:root .group_e3c4bb .item_e3c4bb:hover.allow_e3c4bb, :root .group_e3c4bb .item_e3c4bb.selected_e3c4bb.allow_e3c4bb {
  color: #43b581;
  background-color: rgba(67, 181, 130, 0.231372549);
}
:root .inviteRow_cedfaf {
  border-radius: 0;
  padding-left: 15px;
}
:root .inviteRow_cedfaf:hover {
  background-color: var(--background-modifier-hover);
}
:root .autocompleteShadow-1aXK3x {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1921568627);
}
:root .autocompleteShadow-1aXK3x + .autocompleteArrow-2CRgr2, :root .autocompleteShadow-1aXK3x ~ .header-PfVfAO {
  background: var(--background-secondary-alt);
}
:root .autocompleteShadow-1aXK3x ~ .sectionTag-euh3ZW {
  background: var(--background-secondary);
}
:root .autocompleteShadow-1aXK3x ~ .sectionTag-euh3ZW .row-3UUG_l {
  padding: 0;
}
:root .autocompleteShadow-1aXK3x ~ .header-PfVfAO .headerText-3k--Lk {
  margin-left: 15px;
}
:root .innerWrapper_aecbd6 {
  border-radius: 5px;
}

:root .container_e44302.themed_e44302 {
  background: var(--background-secondary);
}
:root .container_e44302.themed_e44302 .children_e44302::after {
  background: linear-gradient(90deg, rgba(54, 57, 63, 0) 0, var(--background-secondary));
}
:root .container_e44302.themed_e44302 .search_ff5f90 {
  order: 1;
  margin-left: 4px;
}
:root .container_e44302.themed_e44302 .search_ff5f90 .search_a46bef:not(.open_a46bef) .searchBar_a46bef {
  width: 27px;
  transition: 250ms;
  background-color: transparent;
}
:root .container_e44302.themed_e44302 .search_ff5f90 .search_a46bef:not(.open_a46bef) .searchBar_a46bef .iconContainer_effbe2 {
  transform: scale(1.3);
  transition: 250ms;
}
:root .container_e44302.themed_e44302 .search_ff5f90 .search_a46bef:not(.open_a46bef) .searchBar_a46bef .iconContainer_effbe2 .icon_effbe2 {
  color: var(--interactive-normal);
}
:root .container_e44302.themed_e44302 .search_ff5f90 .search_a46bef:not(.open_a46bef):hover .searchBar_a46bef {
  width: 220px;
  background-color: var(--background-tertiary);
}
:root .container_e44302.themed_e44302 .search_ff5f90 .search_a46bef:not(.open_a46bef):hover .searchBar_a46bef .iconContainer_effbe2 {
  transform: scale(1);
}
:root .container_e44302.themed_e44302 .search_ff5f90 .search_a46bef:not(.open_a46bef):hover .searchBar_a46bef .iconContainer_effbe2 .icon_effbe2 {
  color: var(--text-muted);
}
:root .container_e44302.themed_e44302 .search_ff5f90 .searchAnswer_b0fa94,
:root .container_e44302.themed_e44302 .search_ff5f90 .searchFilter_b0fa94 {
  background-color: var(--background-primary);
}
:root .toolbar_e44302 > a[href="https://support.discord.com"],
:root .searchLearnMore_b0286e {
  display: none;
}
:root .container_eedf95 {
  background-color: var(--background-secondary-alt);
  box-shadow: none;
}
:root .container_eedf95 .resultsGroup-1BPR25 .header-3A13BX {
  text-align: center;
}
:root .container_eedf95 .queryContainer_eedf95 {
  background-color: var(--background-tertiary);
}
:root .container_eedf95 .option_b0286e {
  margin: 0;
  border-radius: 0;
}
:root .container_eedf95 .option_b0286e::after {
  background: linear-gradient(90deg, rgba(54, 57, 63, 0), var(--background-secondary-alt) 80%);
}
:root .container_eedf95 .option_b0286e.selected-rZcOL- {
  background: linear-gradient(90deg, rgba(54, 57, 63, 0), var(--background-secondary) 80%);
}
:root .container_eedf95 .calendarPicker__47c85 .react-datepicker {
  background-color: var(--background-secondary-alt);
}
:root .container_eedf95 .calendarPicker__47c85 .react-datepicker__day, :root .container_eedf95 .calendarPicker__47c85 .react-datepicker__header {
  background: var(--background-secondary-alt) !important;
  border-color: var(--background-tertiary);
}

:root .bannerSVGWrapper_b32cc2 mask {
  display: none;
}
:root .userPopoutOuter_c69a7b {
  max-height: unset !important;
}
:root .userPopoutOuter_c69a7b .userPopoutInner_c69a7b {
  max-height: unset !important;
}
:root .userPopoutOuter_c69a7b .bannerSVGWrapper_b32cc2 {
  overflow: visible;
  min-height: 120px !important;
}
:root .userPopoutOuter_c69a7b .bannerSVGWrapper_b32cc2 foreignObject {
  mask: unset;
}
:root .userPopoutOuter_c69a7b .bannerSVGWrapper_b32cc2 .pencilContainer_c3e427 {
  display: none;
}
:root .userPopoutOuter_c69a7b .bannerSVGWrapper_b32cc2[viewBox="0 0 340 60"] foreignObject {
  transform: translateY(-30px);
}
:root .userPopoutOuter_c69a7b .bannerSVGWrapper_b32cc2[viewBox="0 0 340 90"] foreignObject {
  transform: translateY(-15px);
}
:root .userPopoutOuter_c69a7b .avatarWrapper_f89da9 {
  top: 20px !important;
  left: 16px;
}
:root .userPopoutOuter_c69a7b .avatarWrapper_f89da9 circle {
  display: none;
}
:root .userPopoutOuter_c69a7b .avatarWrapper_f89da9 .avatarHint_f89da9 {
  border-radius: 5px;
}
:root .userPopoutOuter_c69a7b .avatarWrapper_f89da9 .avatarHint_f89da9 foreignObject {
  mask: none;
}
:root .userPopoutOuter_c69a7b .avatarWrapper_f89da9 .avatarDecorationHint_f89da9 {
  border-radius: 5px !important;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
}
:root .userPopoutOuter_c69a7b .avatarWrapper_f89da9 .avatarDecorationHint_f89da9 foreignObject {
  mask: none;
}
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b {
  position: static;
  overflow: visible;
  margin: 16px;
  max-height: calc(100vh - 200px);
}
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .usernameSection_d2b491 > .copiableNameTag_c9ccf6 > .clickTarget__440f0, :root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .usernameSection_d2b491 > div > .userText_c9ccf6 {
  position: absolute;
  top: 25px;
  left: 115px;
  z-index: 1;
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .usernameSection_d2b491 > .copiableNameTag_c9ccf6 > .clickTarget__440f0 > span, :root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .usernameSection_d2b491 > div > .userText_c9ccf6 > span {
  word-break: unset;
  white-space: unset;
}
:root .userPopoutOuter_c69a7b .profileBadges_f89da9:empty + .userPopoutOverlayBackground_c69a7b .nickname_c9ccf6 {
  top: 20px;
}
:root .userPopoutOuter_c69a7b .pronouns_c9ccf6 {
  padding-top: 12px;
}
:root .userPopoutOuter_c69a7b .profileBadges_f89da9 {
  position: absolute;
  top: 70px;
  left: 110px;
  z-index: 1;
  background-color: transparent;
}
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .scroller_d2b491 {
  padding-right: 12px !important;
}
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .section_d7a21f {
  padding-top: 0;
  padding-bottom: 12px;
}
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .divider_ae36e5 {
  display: none;
}
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .activity_e36233 {
  padding: 16px;
  margin-top: 25px;
  z-index: 1;
}
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .activity_e36233 .text_aa267a,
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .activity_e36233 .textRow_d5089b,
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .activity_e36233 .anchor_af404b,
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .activity_e36233 .activityName_d5089b {
  color: white;
}
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .activity_e36233 .buttonColor_e36233 {
  border: none;
  background-color: var(--listening-test);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1294117647);
  color: #fff;
}
