
:root {
  --disable-animations: 2s channel-unread infinite;
  --user-buttons-spacing: 8px;
  --user-buttons-color: rgba(194,166,200,1);
  --avatar-radius: 5px;
  --status-radius: 3px;
  --server-radius: 8px;
  --colored-emoji: grayscale(0%);
  --mention-color: #f04747;
  --unread-color: #7289da;
  --mention-color-bar: #c66262;
  --mention-color-background: #c662621f;
  --mention-color-hover: #c6626226;
  --chat-buttons:  rgba(194,166,200,1);
  --online: #43b581;
  --iddle: #faa61a;
  --dnd: #f04747;
  --offline: #747f8d;
  --streaming: #593695;
  --playing: #9b465e; /*The spotify wave and base color*/
  --role-circle: 5px;
  --discord-logo: none;
}
:root.visual-refresh.theme-darker,
:root.theme-darker,
:root.visual-refresh.theme-dark,
:root.theme-dark,
.visual-refresh.theme-darker,
.visual-refresh
.theme-darker {
  --background-primary: #23283d;
  --background-secondary: #1e2233;
  --background-secondary-alt: #191f2e;
  --background-tertiary: #101320;
  --background-accent: #9f72da;
  --background-brighter: #2d3550;

  --neutral-92: var(--background-secondary);
  --neutral-86: var(--background-primary);
  --background-base-lowest: var(--background-secondary);
  --background-base-lower: var(--background-primary);
  --chat-background-default: var(--background-secondary-alt);
  --background-surface-high: var(--background-secondary-alt);
  --background-gradient-high: var(--background-secondary);

  --theme-base-color: var(--background-brighter);
  --bg-overlay: var(--background-primary);
  --bg-overlay-1: var(--background-primary);
  --bg-overlay-2: var(--background-primary);
  --bg-overlay-3: var(--background-primary);
  --bg-overlay-4: var(--background-secondary);
  --bg-overlay-chat: var(--background-primary);
  --bg-base-primary: var(--background-primary);
  --bg-base-secondary: var(--background-primary);
  --bg-base-tertiary: var(--background-tertiary);
  --card-primary-bg: var(--background-primary);
  --background-base-lowest: #00000000;
  --background-base-low: #2c2e44;
  --bg-overlay-floating: var(--background-secondary-alt);

  /*The general accent color, if you want to have a different one
  you have to modify the --red, --green and --blue vars.
  Why did I do it like that? As you can see in the src, having
  the opportunity to change the background color to anything
  leaves the possibility of hard readability. Thus changing the
  color of the text based on the perceived brightness makes it easier
  to read. This color gets represented by --accent-color-hsl
  */
  --red: 163;
  --green: 66;
  --blue: 93;
  --accent-color: rgb(var(--red), var(--green), var(--blue));
  --accent-color-alpha: rgba(var(--red), var(--green), var(--blue), 0.5);

  --threshold: 0.5;
  --r: calc(var(--red) * 0.2126);
  --g: calc(var(--green) * 0.7152);
  --b: calc(var(--blue) * 0.0722);
  --sum: calc(var(--r) + var(--g) + var(--b));
  --per-brightness: calc(var(--sum) / 255);
  --accent-color-hsl: hsl(0, 0%, calc((var(--per-brightness) - var(--threshold)) * -1000%));
  /* Src: https://css-tricks.com/switch-font-color-for-different-backgrounds-with-css/ */

  --modal-background: var(--background-primary);
  --background-mobile-primary: var(--background-primary);
  --background-mobile-secondary: var(--background-secondary);
  --channeltextarea-background: var(--background-secondary-alt);
  --background-message-hover: transparent;
  --background-modifier-hover: #00000010;
  --background-modifier-active: #0000001a;
  --background-modifier-selected: #0000001f;
  --deprecated-card-bg: #12141f63;
  --background-floating: var(--background-tertiary);
  --deprecated-quickswitcher-input-background: var(--background-tertiary);
  --elevation-low: none;
  --scrollbar-auto-thumb: #121722;
  --scrollbar-auto-track: var(--background-secondary-alt);
  --scrollbar-thin-thumb: #141925;
  --activity-card-background: var(--background-tertiary);
  --input-background: var(--background-secondary);
}
