
:root {
  --disable-animations: 2s channel-unread infinite;
  --user-buttons-spacing: 8px;
  --user-buttons-color: rgba(194,166,200,1);
  --avatar-radius: 5px;
  --status-radius: 3px;
  --server-radius: 8px;
  --colored-emoji: grayscale(0%);
  --mention-color: #f04747;
  --unread-color: #7289da;
  --mention-color-bar: #c66262;
  --mention-color-background: #c662621f;
  --mention-color-hover: #c6626226;
  --chat-buttons:  rgba(194,166,200,1);
  --online: #43b581;
  --iddle: #faa61a;
  --dnd: #f04747;
  --offline: #747f8d;
  --streaming: #593695;
  --playing: #cba6f7; /*The spotify wave and base color*/
  --role-circle: 5px;
  --discord-logo: none;
}
:root.visual-refresh.theme-darker,
:root.theme-darker,
:root.visual-refresh.theme-dark,
:root.theme-dark,
.visual-refresh.theme-darker,
.visual-refresh
.theme-darker {
    --background-primary: #1e1e2e;
    --background-secondary: #181825;
    --background-secondary-alt: #1e1e2e;
    --background-tertiary: #11111b;
    --background-accent: #cba6f7;
    --background-brighter: #313244;

    --theme-base-color: #2d3550;
    --bg-overlay: #23283d;
    --bg-overlay-1: #23283d;
    --bg-overlay-2: #23283d;
    --bg-overlay-3: #23283d;
    --bg-overlay-4: #1e2233;
    --bg-overlay-chat: #23283d;
    --bg-base-primary: #23283d;
    --bg-base-secondary: #23283d;
    --bg-base-tertiary: #101320;
    --card-primary-bg: #23283d;
    --background-base-lowest: #00000000;
    --background-base-low: #2c2e44;
    --bg-overlay-floating: var(--background-secondary-alt);

    --neutral-92: #181825;
    --neutral-86: #1e1e2e;
    --background-base-lowest: #181825;
    --background-base-lower: #1e1e2e;
    --chat-background-default: #11111b;
    --background-surface-high: #313244;
    --background-gradient-high: #181825;

    --red: 203;
    --green: 166;
    --blue: 247;
    --accent-color: rgb(var(--red), var(--green), var(--blue));
    --accent-color-alpha: rgba(var(--red), var(--green), var(--blue), 0.5);
    --threshold: 0.5;
    --r: calc(var(--red) * 0.2126);
    --g: calc(var(--green) * 0.7152);
    --b: calc(var(--blue) * 0.0722);
    --sum: calc(var(--r) + var(--g) + var(--b));
    --per-brightness: calc(var(--sum) / 255);
    --accent-color-hsl: hsl(0, 0%, calc((var(--per-brightness) - var(--threshold)) * -1000%));
    /* Src: https://css-tricks.com/switch-font-color-for-different-backgrounds-with-css/ */

    --modal-background: #1e1e2e;
    --background-mobile-primary: #1e1e2e;
    --background-mobile-secondary: #181825;
    --channeltextarea-background: #11111b;
    --background-message-hover: transparent;
    --background-modifier-hover: #cba6f710;
    --background-modifier-active: #cba6f71a;
    --background-modifier-selected: #cba6f71f;
    --deprecated-card-bg: #11111b63;
    --background-floating: #11111b;
    --deprecated-quickswitcher-input-background: #11111b;
    --elevation-low: none;
    --scrollbar-auto-thumb: #45475a;
    --scrollbar-auto-track: #181825;
    --scrollbar-thin-thumb: #313244;
    --activity-card-background: #11111b;
    --input-background: #181825;
}
