/**
* @name Comfy
* @author Nyria#3863
* @maintained by Abdist
* @description Stay comfy while talking to your friends
* @invite rtBQX5D3bD
* @version 2.4
* @donate https://ko-fi.com/nyria
*/

@import "https://raw.githubusercontent.com/BlacklightYT/comfy/main/comfy/main.css";

@import "https://raw.githubusercontent.com/BlacklightYT/comfy/main/comfy/user-waves-nyan.css";

@import "https://comfy-themes.github.io/Discord/betterdiscord/no-scrollbar.css";

@import "https://comfy-themes.github.io/Discord/betterdiscord/better-spotify.css";

@import "https://raw.githubusercontent.com/BlacklightYT/comfy/main/comfy/banner.css";

:root {
  --disable-animations: 2s channel-unread infinite;
  --user-buttons-spacing: 8px;
  --user-buttons-color: rgba(194,166,200,1);
  --avatar-radius: 5px;
  --status-radius: 3px;
  --server-radius: 8px;
  --colored-emoji: grayscale(0%);
  --mention-color: #f04747;
  --unread-color: #7289da;
  --mention-color-bar: #c66262;
  --mention-color-background: #c662621f;
  --mention-color-hover: #c6626226;
  --chat-buttons:  rgba(194,166,200,1);
  --online: #43b581;
  --iddle: #faa61a;
  --dnd: #f04747;
  --offline: #747f8d;
  --streaming: #593695;
  --playing: #9b465e; /*The spotify wave and base color*/
  --role-circle: 5px;
  --discord-logo: none;
}

.visual-refresh.theme-darker, .theme-darker, .visual-refresh.theme-dark, .theme-dark {
  --background-primary: #23283d;
  --background-secondary: #1e2233;
  --background-secondary-alt: #191f2e;
  --background-tertiary: #101320;
  --background-accent: #9f72da;
  --background-brighter: #2d3550;

  --neutral-92: #1e2233;
  --neutral-86: #23283d;
  --background-base-lowest: #101320;
  --background-base-lower: #23283d;
  --chat-background-default: #191f2e;
  --background-surface-high: #191f2e;
  --background-gradient-high: #1e2233;
  
  /*The general accent color, if you want to have a different one 
  you have to modify the --red, --green and --blue vars.
  Why do I make it like that: as you can see in the src, having
  the opportunity to change the background color to anything
  leaves the possibility of hard readability. Thus changing the
  color of the text based on the perceived brightness makes it easier
  to read. this color gets represented by --accent-color-hsl
  */
  --red: 163;
  --green: 66;
  --blue: 93;
  --accent-color: rgb(var(--red), var(--green), var(--blue));
  --accent-color-alpha: rgba(var(--red), var(--green), var(--blue), 0.5);
  
  --threshold: 0.5;
  --r: calc(var(--red) * 0.2126);
  --g: calc(var(--green) * 0.7152);
  --b: calc(var(--blue) * 0.0722);
  --sum: calc(var(--r) + var(--g) + var(--b));
  --per-brightness: calc(var(--sum) / 255);
  --accent-color-hsl: hsl(0, 0%, calc((var(--per-brightness) - var(--threshold)) * -1000%));
  /* Src: https://css-tricks.com/switch-font-color-for-different-backgrounds-with-css/ */
  
  --modal-background: #23283d;
  --background-mobile-primary: #23283d;
  --background-mobile-secondary: #1e2233;
  --channeltextarea-background: #191f2e;
  --background-message-hover: transparent;
  --background-modifier-hover: #00000010;
  --background-modifier-active: #0000001a;
  --background-modifier-selected: #0000001f;
  --deprecated-card-bg: #12141f63;
  --background-floating: #101320;
  --deprecated-quickswitcher-input-background: #101320;
  --elevation-low: none;
  --scrollbar-auto-thumb: #121722;
  --scrollbar-auto-track: #191f2e;
  --scrollbar-thin-thumb: #141925;
  --activity-card-background: #101320;
  --input-background: #1e2233;
}
:root nav._5e434347c823b592-guilds .scroller-2TZvBN, :root nav._5e434347c823b592-guilds .ef3116c2da186559-scroller { padding-bottom: 0;}
:root .f75fb00fb7356cbe-chat .f75fb00fb7356cbe-form { padding-left: 16px;}
:root .f75fb00fb7356cbe-chat .f75fb00fb7356cbe-form .f75fb00fb7356cbe-channelTextArea ._740174f3d6a2c8fe-scrollableContainer::after, :root .f75fb00fb7356cbe-chat .f75fb00fb7356cbe-form ._44df51b030bd5ece-wrapper::after { content: none;} 
/* Username role background */

.c19a557985eb7793-cozy .c19a557985eb7793-headerText > .c19a557985eb7793-username::before {
  content: ''; 
  width: calc(100% + 10px); 
  height: 100%;
  border-radius: 5px;
  background-color: currentColor; 
  opacity: 0.2; 
  position: absolute; 
  top: 0; 
  z-index: -1;
  left: -5px;
}
.c19a557985eb7793-cozy .c19a557985eb7793-headerText > .c19a557985eb7793-username {
  margin-left: 5px;
}

._5126c0cd07f243a0-messageListItem {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);

  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
._5126c0cd07f243a0-messageListItem:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #3e2f5091; /*Change this to change the color*/
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 20px;
  opacity: 30%;
}
._5126c0cd07f243a0-messageListItem:hover,
._5126c0cd07f243a0-messageListItem:focus,
._5126c0cd07f243a0-messageListItem:active {
  color: white;
}
._5126c0cd07f243a0-messageListItem:hover:before,
._5126c0cd07f243a0-messageListItem:focus:before,
._5126c0cd07f243a0-messageListItem:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.c19a557985eb7793-cozy .c19a557985eb7793-headerText > .c19a557985eb7793-username::before {
  content: ''; 
  width: calc(100% + 10px); 
  height: 100%;
  border-radius: 5px;
  background-color: currentColor; 
  opacity: 0.2; 
  position: absolute; 
  top: 0; 
  z-index: -1;
  left: -5px;
}
.c19a557985eb7793-cozy .c19a557985eb7793-headerText > .c19a557985eb7793-username {
  margin-left: 5px;
}

.b8880176888cc928-typing .b8880176888cc928-text { display: flex; align-items: center;}

.b8880176888cc928-typing .b8880176888cc928-text strong { 
  margin: 0 3px;
  line-height: 21px;
  animation: slideUp 300ms;
}
@keyframes slideUp {
  0% { margin-top: -50px;}
  100% { margin-top: 0;}
}

:root {  
  /* This isn't shown in my screenshot but I think it looks cool */
  /* --interactive-active: #6FD6A2; */
  
  /* channel colors */
  --hovering-over-channel: var(--background-mentioned);
  --channel-icon: var(--accent-color);
  --channel-text-area-placeholder: #6d728ab9;

  /* 1. when mentioning a channel bg color */
  --mention-background: var(--background-mentioned);

  /* 1. when pinged, foreground color */
  --mention-foreground: var(--main-color);

  /* 1. when pinged, background color  */
  --background-mentioned: #a3425d17;
  --background-mentioned-hover: #a3425d21;
  
  /* 2. color of message you're replying to */
  --background-message-highlight: var(--background-secondary-alt);

  /* 2. when hovering over a message you're replying to */
  --brand-experiment-10a: #a3425d21;

  /* outline of reactions */
  --brand-experiment: #a3425d49; 
  --brand-experiment-15a: var(--background-mentioned-hover);

  /* makes muted text color a little more blue */
  --interactive-muted: #565c7bb9;  
}

/* 1. changing the border color of in-chat mention + reply */
:root ._5126c0cd07f243a0-mentioned::before { background-color: var(--main-color); }
:root ._5126c0cd07f243a0-message::before { background-color: var(--main-color); }

/* 1. when hovering over channel mentions */
:root .channelMention:hover, .mention:hover { 
  text-decoration: none !important;
  color: var(--main-color);
  background-color: var(--background-mentioned-hover); 
}

/* 5. make bg of quick reacts transparent */
:root .c1e9c47c23f12ca3-customItem .f563df886a7377be-button {
  background-color: transparent; 
}

/* 6. change color of NEW bar to main color */
:root ._908e20001ad67812-divider ._908e20001ad67812-unreadPill {
  position: relative;
  color: var(--main-color);
  top: 0; 
}

/* 6. change color of new message date to accent color */
:root ._908e20001ad67812-isUnread ._908e20001ad67812-content {
  color: var(--accent-color) !important; 
}

.c2b141c0f80863fb-container {
  position: relative;
  left: -75px;
  top: -25px;
}

._49fc18ba07c5025f-footerSeparator {
  background-color: var(--background-brighter);
}

.c19a557985eb7793-avatar{
  border-radius: var(--avatar-radius);
}

._5906b5e639ffa713-customHeader{
  padding-top: 120px;
}

._23e6b439306f125a-contentColumnDefault{
  padding: 120px 40px 80px
}

.scroller_d20375{
  background-color: var(--background-brighter);
}

.c2b141c0f80863fb-closeButton {
  position: relative;
  border-radius: 5px;
}

.button_fb7f94 {
  border-radius: 5px;    
}

.d9be463a3c35b91e-form .submitButton_d9be46, 
.f369dba7416c67f0-sortDropdown, .a2c9e80f6531ccc2-pill, .f369dba7416c67f0-tagsButton,
._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorPrimary  {
  border-radius: 6px;
}

._4c5209741d147f1b-votePercentageBar {
  background-color: var(--accent-color);
}

.a1443c28bb4b5d23-victorStyles {
  --custom-poll-style-border: var(--accent-color);
}

._3e3b0b1c0f688f9e-flowerStar {
  filter: hue-rotate(60deg);
}

._4c5209741d147f1b-answerSelectionIcon {
  filter: hue-rotate(560deg);
}

._4c5209741d147f1b-answerInner {
  background-color: var(--background-primary);
}

.ee23ac2acd215184-divider {
  background-color: var(--background-secondary);
}

.theme-dark ._9a337c84ff86a914-textContentFooter._9a337c84ff86a914-noTags {
  background: none;
  /*background: linear-gradient(to top,hsl(var(--primary-600-hsl)/1),hsl(var(--primary-600-hsl)/0));*/
}

.f369dba7416c67f0-matchingPostsRow {
  background-color: var(--background-brighter);
}

._23e6b439306f125a-contentColumn._23e6b439306f125a-contentColumnDefault .a562c840daab72a7-grabber { /*Options Volume Grabber position FIX*/
  position: absolute;
  top: 21px !important;
}
#user-context-user-volume > div._650391965b2d6ee2-sliderContainer > div > div:nth-child(3) > div { /*Direct Path to User Volume Grabber position FIX + ²*/
  position: absolute;
  top: 10px;
  border-radius: 4px;
}

/*User Popout*/

._1fed1dd06c7aabf7-accountProfileCard mask, .biteSizeInner_c69a7b mask, .fullSizeOuter_c69a7b mask, .userPanelOuter_c69a7b mask { /*Banner Circle mask removal*/
  display: none;
}
.c1e9c47c23f12ca3-iconContainerLeft.c1e9c47c23f12ca3-iconContainer foreignObject, .c1e9c47c23f12ca3-item.c1e9c47c23f12ca3-colorDefault foreignObject { /*Not the status icons*/
  mask-image: none;
}
._2338f50c3988e5ec-svg {
  border-radius: 2px;
}
._75742e4cc9019aeb-avatar.user-profile-popout._75742e4cc9019aeb-clickable, ._75742e4cc9019aeb-avatar { /*Avatar "shadow"*/
  filter: drop-shadow(3px 3px 3px rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2)));  
}


.ce832809562bf737-body, ._5be3ef42f92174b2-body { /*Padding Issue for Activity FIX*/
  padding-right: 16px !important
}

.activity_f00225 {
  background-color: var(--background-secondary-alt); /*Spotify*/
}

._75742e4cc9019aeb-overlay:after { /*Profile Avatar Hover FIX*/
  border-radius: var(--avatar-radius);  
}
._44b0c28be7879b7b-avatarStack.d28e107656edce18-overlay::after { /*Profile Avatar Hover FIX (Settings)*/
  border-radius: var(--avatar-radius);
}
._5be3ef42f92174b2-footer { /*Edit Profile Padding FIX*/
  padding: 0 12px 12px;
}


@-webkit-keyframes transition {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

._63ed30c16c7151f2-clickableUsername, ._63ed30c16c7151f2-nickname.user-profile-modal{ /*User Name Gradient*/
  background: linear-gradient(90deg, #feb47b, #ff7e5f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: transition 10s infinite linear;
}
._63ed30c16c7151f2-nickname, ._63ed30c16c7151f2-usernameRow {
  background: linear-gradient(90deg, #feb47b, #ff7e5f);
  -webkit-background-clip: text;  
  filter: drop-shadow(1px 1px 1px #555);
}
._63ed30c16c7151f2-userTagUsername{
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: transition 10s infinite linear;
}
._63ed30c16c7151f2-userTag {
  font-size: 15px;
  font-weight: 600;  
  -webkit-background-clip: text;
  filter: drop-shadow(1px 1px black);
}

._82f0793afa59e5dc-px {
  background-color: var(--accent-color);
}

[class*=messageContent] :is(h1, h2, h3) {
  color: var(--accent-color);
}
[class*=messageContent] strong {
  color: var(--accent-color);
}

._23977d5b7cef7361-reaction._23977d5b7cef7361-reactionMe {
  border-color: var(--accent-color);
  background-color: var(--accent-color-alpha);
}

._23977d5b7cef7361-reaction._23977d5b7cef7361-reactionMe:hover {
  filter: brightness(1.15);
}


.a562c840daab72a7-barFill { /*Drag Bars Color*/
  background-color: var(--accent-color);
}
._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorBrand { /*Buttons Color*/
  background-color: var(--background-brighter);
}
._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorBrand:hover { /*Buttons Color Hover*/
  background-color: var(--background-brighter);
  filter: brightness(0.9);
}
._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorPrimary:hover {
  filter: brightness(0.9);
}

._6e9f8dce4cc18de3-wrapper:hover ._6e9f8dce4cc18de3-childWrapper, ._6e9f8dce4cc18de3-wrapper._6e9f8dce4cc18de3-selected ._6e9f8dce4cc18de3-childWrapper {
  background-color: var(--accent-color);
}

.e131a99484292a19-button .e131a99484292a19-buttonColor.e131a99484292a19-buttonActive, .e131a99484292a19-button.e131a99484292a19-buttonColor.e131a99484292a19-buttonActive {
  background-color: var(--background-brighter);
  filter: brightness(0.8);
}

.e131a99484292a19-button .e131a99484292a19-buttonColor.e131a99484292a19-buttonActive, .e131a99484292a19-button.e131a99484292a19-buttonColor.e131a99484292a19-buttonActive:hover {
  background-color: var(--background-brighter);
  filter: brightness(1.3);
}


._650eb104245d257b-iconBadge._650eb104245d257b-isCurrentUserConnected {
  background-color: var(--background-accent);
}

.cc5dd25190031396-wrapper:hover {
  filter: brightness(1.4);
  filter: saturate(1.6);
}

.vcd-screen-picker-radio[data-checked=true] {
  background-color: var(--accent-color) !important;
  border-color: var(--accent-color) !important;
}

.vcd-screen-picker-radios label:hover {
  filter: brightness(0.8);
}

.a16aea1526925c2c-select:hover {
  filter: brightness(0.8);
}

._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorBrand {
  border-radius: 5px;
}

.vc-spotify-button:hover {
  border-radius: 5px;
}


._5bc7ed9d4097f6b5-circleIconButton {
  color: var(--background-accent);
}
._5bc7ed9d4097f6b5-circleIconButton:hover {
  background-color: var(--background-accent);
}
._5bc7ed9d4097f6b5-circleIconButton._5bc7ed9d4097f6b5-selected {
  background-color: var(--background-accent);
}


.welcomeCTAButtonOuter_f5d1e2._201d5e8a3c09670a-button._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorPrimary._201d5e8a3c09670a-sizeMedium._201d5e8a3c09670a-grow {
  background-color: var(--background-secondary);
}


.d9be463a3c35b91e-form.submitButton_d9be46.f369dba7416c67f0-sortDropdown.a2c9e80f6531ccc2-pill.f369dba7416c67f0-tagsButton._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorPrimary{
  background-color: var(--background-tertiary);
}
.d1405bf11dcfb07a-list{
  background-color: var(--background-primary);
}
.d1405bf11dcfb07a-categoryHeader{
  background-color: var(--background-secondary);
}


._23e6b439306f125a-contentColumn._23e6b439306f125a-contentColumnDefault .a562c840daab72a7-grabber, ._49fc18ba07c5025f-content.d125d22cdfd32cfe-thin.d125d22cdfd32cfe-scrollerBase .a562c840daab72a7-grabber { /*Server Soundboard Volume Grabber position FIX*/
  top: 20px;
}

._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorBrand:disabled, ._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorBrand[aria-disabled=true] { /*Server Soundboard Not allowed button color fix*/
  background-color: var(--background-secondary);
}

.userPopoutInner_c69a7b.userProfileInner_c69a7b.userProfileInnerThemedNonPremium_c69a7b .popoutBanner_c3e427 { /*Approved and Not-Approved Bot banner fix*/
  height: 160px;
  position: absolute;
  top: 30px;
}
.userPopoutInner_c69a7b.userProfileInner_c69a7b.userProfileInnerThemedNonPremium_c69a7b .userPopoutOverlayBackground_c69a7b.overlayBackground_c69a7b {
  margin-top: 56px;
}

/*User Popup non Premium Color Theme*/
.userPopoutInner_c69a7b.userProfileInner_c69a7b.userProfileInnerThemedNonPremium_c69a7b .button_b709ea._201d5e8a3c09670a-button._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorPrimary._201d5e8a3c09670a-sizeSmall._201d5e8a3c09670a-grow,
._201d5e8a3c09670a-button._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorPrimary._201d5e8a3c09670a-sizeIcon._201d5e8a3c09670a-grow {
  background-color: var(--background-secondary);
}
.biteSizeOuter_c69a7b.userPopoutOuter_c69a7b.userProfileOuter_c69a7b.userProfileOuterUnthemed_c69a7b.theme-dark.images-dark .d1d9f3257b6b604c-container {
  background-color: var(--background-secondary);
}
.biteSizeOuter_c69a7b.userPopoutOuter_c69a7b.userProfileOuter_c69a7b.userProfileOuterUnthemed_c69a7b.theme-dark.images-dark .biteSizeInnerThemed_c69a7b {
  background-color: var(--background-tertiary);
}

.fullSizeOuter_c69a7b.userProfileOuter_c69a7b.userProfileOuterUnthemed_c69a7b.theme-dark.images-dark .d1d9f3257b6b604c-container, 
.fullSizeOuter_c69a7b.userProfileOuter_c69a7b.userProfileOuterUnthemed_c69a7b.theme-dark.images-dark .button_fb7f94._201d5e8a3c09670a-button._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorPrimary.themeColor_fb7f94.primary_fb7f94._201d5e8a3c09670a-sizeSmall._201d5e8a3c09670a-grow,
.fullSizeOuter_c69a7b.userProfileOuter_c69a7b.userProfileOuterUnthemed_c69a7b.theme-dark.images-dark .fullSizeOverlayBackground_c69a7b {
  background-color: var(--background-secondary);
}
.fullSizeOuter_c69a7b.userProfileOuter_c69a7b.userProfileOuterUnthemed_c69a7b.theme-dark.images-dark .fullSizeInnerThemed_c69a7b {
  background-color: var(--background-tertiary);
}


.biteSizeOuter_c69a7b.userPopoutOuter_c69a7b.userProfileOuter_c69a7b.userProfileOuterUnthemed_c69a7b.theme-dark.images-dark .dfa8b6b94cddb191-role.dfa8b6b94cddb191-pill,
.biteSizeOuter_c69a7b.userPopoutOuter_c69a7b.userProfileOuter_c69a7b.userProfileOuterUnthemed_c69a7b.theme-dark.images-dark .showMoreButton_c83b44.fccfdf3cfff21921-pill,
.biteSizeOuter_c69a7b.userPopoutOuter_c69a7b.userProfileOuter_c69a7b.userProfileOuterUnthemed_c69a7b.theme-dark.images-dark .button_fb7f94.b469685f85391ca2-button._201d5e8a3c09670a-button._201d5e8a3c09670a-lookFilled,
.biteSizeOuter_c69a7b.userPopoutOuter_c69a7b.userProfileOuter_c69a7b.userProfileOuterUnthemed_c69a7b.theme-dark.images-dark ._8061a5f9dbf6d829-container,
.biteSizeOuter_c69a7b.userPopoutOuter_c69a7b.userProfileOuter_c69a7b.userProfileOuterUnthemed_c69a7b.theme-dark.images-dark .button__7d567._201d5e8a3c09670a-button._201d5e8a3c09670a-lookFilled.buttonColor_f00225.buttonSize__7d567._201d5e8a3c09670a-fullWidth._201d5e8a3c09670a-grow {
  background-color: var(--background-secondary);
}

._54b20d287f944f7b-iconWrapper{
  background-color: var(--background-secondary);
}

.fullSizeOuter_c69a7b.userProfileOuter_c69a7b.userProfileOuterUnthemed_c69a7b.theme-dark.images-dark ._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorPrimary.themeColor_fb7f94.primary_fb7f94,
.fullSizeOuter_c69a7b.userProfileOuter_c69a7b.userProfileOuterUnthemed_c69a7b.theme-dark.images-dark .button_fb7f94._201d5e8a3c09670a-button._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorBrand.themeColor_fb7f94.primary_fb7f94._201d5e8a3c09670a-sizeSmall._201d5e8a3c09670a-grow {
  background-color: var(--background-secondary);
}


.f75fb00fb7356cbe-title.forumOrHome__49676._9293f6b2fc12398a-container._9293f6b2fc12398a-themed { /*thread top band color*/
  background-color: var(--background-primary);
}
._6b0e07cbaf13ec4e-scroller.d125d22cdfd32cfe-thin.d125d22cdfd32cfe-scrollerBase { /*@ Scroll list color*/
  background-color: var(--background-secondary);
}



/* ._51fd70792ee2e563-appMount .a3002d7de5be5280-app { opacity: 0; transition: 0.15s;}
._51fd70792ee2e563-appMount:hover .a3002d7de5be5280-app { opacity: 1; transition: 0.15s;}
._51fd70792ee2e563-appMount:after {
  content: "";
  position: fixed;
  background: url('https://raw.githubusercontent.com/T3M1N4L/T3M1N4L/main/images/XOsX.gif') center/20% no-repeat;
  width: 100%; height: 100%;
  opacity: 1;
}
._51fd70792ee2e563-appMount:hover:after { opacity: 0; pointer-events: none;}
.dfa8b6b94cddb191-role {
  transform: translate(0);
  overflow: hidden;
  border: 0;

  --transparency: .4;
  border-radius: 5px;
} */

._1fed1dd06c7aabf7-fieldList .d9be463a3c35b91e-form .submitButton_d9be46, .f369dba7416c67f0-sortDropdown, .a2c9e80f6531ccc2-pill, .f369dba7416c67f0-tagsButton, ._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorPrimary {
  background-color: var(--background-brighter);
}
._1fed1dd06c7aabf7-fieldList .d9be463a3c35b91e-form .submitButton_d9be46, .f369dba7416c67f0-sortDropdown, .a2c9e80f6531ccc2-pill, .f369dba7416c67f0-tagsButton, ._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorPrimary:hover {
  background-color: var(--background-brighter);
}

.a1443c28bb4b5d23-votedStyles{
  --custom-poll-style-border: var(--accent-color)
}

._4c5209741d147f1b-answerSelectionIcon {
  filter: hue-rotate(100deg);
}
.f69538e19b6eaacd-victorIcon {
  filter: hue-rotate(200deg);
}

._4c5209741d147f1b-answer ._4c5209741d147f1b-answerInner._4c5209741d147f1b-currentlyVoting._4c5209741d147f1b-selected {
  outline: 1px solid var(--accent-color)
}

.theme-dark ._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorTransparent{
  background-color: var(--background-secondary);
}
.theme-dark ._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorTransparent:hover{
  background-color: var(--background-secondary-alt);
}

._650eb104245d257b-iconBadge._650eb104245d257b-isCurrentUserConnected, ._650eb104245d257b-iconBadge {
  background-color: var(--mention-color);
  border-radius: 5px;
  /* filter: 
    hue-rotate(40deg)
    brightness(1.3)
    drop-shadow(-1px 2px 0 rgba(40, 40, 40 ,0.9)); */
  /* animation: transition 15s infinite; */
}
._2b1f52e43a8f1c02-numberBadge._2b1f52e43a8f1c02-base._2b1f52e43a8f1c02-eyebrow._2b1f52e43a8f1c02-baseShapeRound {
  border-radius: 5px;
  /* filter:
    brightness(1.2) 
    hue-rotate(45deg)
    drop-shadow(-1px -1px 0 rgba(40, 40, 40 ,0.9)); */
}

._2b1f52e43a8f1c02-icon {
  position: relative;
  bottom: 0.05rem;
}

._49fc18ba07c5025f-footerSeparator {
  background-color: var(--background-secondary-alt);
}
._82f0793afa59e5dc-botTagRegular {
  background-color: var(--accent-color);
}
.c19a557985eb7793-botTagCozy.c19a557985eb7793-botTag._82f0793afa59e5dc-botTagRegular._82f0793afa59e5dc-botTag._82f0793afa59e5dc-rem ._82f0793afa59e5dc-botText {
  top: 0;
}
._82f0793afa59e5dc-botText {
  color: var(--accent-color-hsl);
}
._82f0793afa59e5dc-botTagVerified path {
  fill: var(--accent-color-hsl);
}

._06d6249a1f2584ac-ping, ._06d6249a1f2584ac-labelWrapper {
  animation: transition 10s infinite;
}

._5d473ecff348c314-ownerIcon._5d473ecff348c314-icon {
  position: absolute;
  rotate: 25deg;
  left: 29px;
  top: -3px;
  animation: transition 15s infinite;
}

._5d473ecff348c314-premiumIcon._5d473ecff348c314-icon {
  animation: transition 20s infinite;
}

.vc-gp-owner img{
  height: 15px;
}
.vc-mentionAvatars-avatar {
  margin: 1px;
}

.vc-membercount-total-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 3px solid var(--color-total);
  margin: 0 .5em 0 1em;
  box-sizing: border-box;
}

.vc-membercount-online-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 .5em 0 1em;
  margin-left: 0px;
  box-sizing: border-box;
}

.settingsGroup_c6d3dc ._3d4a037904e40932-item.c6d3dc100d5624e2-selectorButton.c6d3dc100d5624e2-selectorButtonSelected::before {
  background-color: var(--accent-color);
}
button._3d4a037904e40932-item.c6d3dc100d5624e2-selectorButton:hover::before {
  background-color: var(--accent-color);
  filter: brightness(1.1);
}
.settingsGroup_c6d3dc ._3d4a037904e40932-item.c6d3dc100d5624e2-selectorButton.c6d3dc100d5624e2-selectorButtonSelected:hover {
  filter: brightness(0.8);
}

.checkbox_f525d3.box_f525d3.checked_f525d3,
.checkbox_f525d3.box_f525d3.checked_f525d3 {
  border-color: var(--accent-color) !important;
  background-color: var(--accent-color) !important;
}

._9c62c6ed231468c4-drawerSizingWrapper ._9c62c6ed231468c4-contentWrapper {
  background-color: var(--background-secondary);
}
.cb32c78a53f54371-container .cb32c78a53f54371-appDetailsContainer {
  background-color: var(--background-tertiary);
}
.cb32c78a53f54371-appDetailsContainer {
  background-color: var(--background-brighter);
}

.footer__3d3b0.inApp_c5a065 {
    background-color: var(--background-secondary);
}

._927fca0ac7164d54-scrollableContent.d125d22cdfd32cfe-thin.d125d22cdfd32cfe-scrollerBase.d125d22cdfd32cfe-fade {
  padding-right: 15px !important;
}

._07f9193042954787-avatarSmall {
  border-radius: var(--avatar-radius);
}

._2f4f7eb58b61c328-status._2f4f7eb58b61c328-interactive {
  border-radius: 8px;
}

.hangStatusSmall__2f4f7.hangStatusContainer__2f4f7, .hangStatusContainer__2f4f7 {
  border-radius: 12px;
}

.hangStatusSmall__2f4f7 .hangStatusIcon__2f4f7 {
  margin-left: 0.02rem !important;
  margin-bottom: 0.02rem !important;
}

.c19a557985eb7793-appLauncherOnboardingCommandName.c19a557985eb7793-clickable:hover {
  background-color: var(--accent-color);
}

.c19a557985eb7793-appsIcon::after path {
  fill: var(--accent-color);
}

.c19a557985eb7793-appLauncherOnboardingCommandName.c19a557985eb7793-clickable {
  color: var(--accent-color);
}


.staticButton_f1ceac.f1ceaca61b18918e-centerButton.f1ceaca61b18918e-colorable.f1ceaca61b18918e-primaryDark._201d5e8a3c09670a-button._201d5e8a3c09670a-lookBlank._201d5e8a3c09670a-colorBrand {
  background-color: var(--background-secondary);
  border-radius: 14px;
}
._160d8e55254637e5-app button, .f8fa068db52f043f-actionButton {
  border-radius: 14px;
}

.e4d0bf303c296a8e-imageUploaderInner.avatarUploaderInner_cd0bbe {
  border-radius: var(--server-radius);
}

.fc817765600a960a-avatar, .e4d0bf303c296a8e-imageUploaderIcon.theme-light.images-light {
  border-radius: var(--avatar-radius);
}

.e6abe833ac70fcae-connectedAccountNameText { 
  cursor: wait;
}


.c19a557985eb7793-username::before { /*Code Snippet by @nyri4 - Username Background color*/
  content: ''; 
  width: calc(100% + 10px); 
  height: 100%;
  border-radius: 5px;
  background-color: currentColor; 
  opacity: 0.2; 
  position: absolute; 
  top: 0; 
  z-index: -1;
  left: -5px;
}
.c19a557985eb7793-username {
  margin-left: 5px;
}

._5d473ecff348c314-member:hover { /*Code Snippet by @krixical - User hover anim.*/
  transition: all 0.2s;
  transform: translatex(-3px);
}
._972a0d22c8afa7f0-link:hover, ._2ea32c412048f708-link:hover {
  transition: all 0.2s;
  transform: translatex(3px);
}

.f75fb00fb7356cbe-content._0b56311ebc6682e2-container, ._41ed70e52483df6d-pageBody { /*Channels&roles color*/
  background-color: var(--background-primary) !important;
}
._5d7c9a81ac5dd074-prompt, ._5d7c9a81ac5dd074-profileCard {
  background-color: var(--background-secondary);
}
._99f8cc7ad4790ce9-content.e4503acec53c64dd-scrollerInner {
  background-color: var(--background-secondary);
  margin-right: 15px;
}
._0b56311ebc6682e2-header._9293f6b2fc12398a-container._9293f6b2fc12398a-themed {
  background-color: var(--background-primary) !important;
}

._201d5e8a3c09670a-lookOutlined._201d5e8a3c09670a-colorPrimary { /*Return to help in channels&roles*/
  border-color: var(--background-brighter);
}
._201d5e8a3c09670a-lookOutlined._201d5e8a3c09670a-colorPrimary:hover {
  background-color: var(--background-secondary-alt);
  border-color: var(--background-tertiary);
}

.c66e86abde46dbb3-action { /*Server guide buttons*/
  background-color: var(--background-secondary);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

/* Define the state when the action occurs (e.g., on hover) */
.c66e86abde46dbb3-action:hover {
  background-color: var(--background-secondary-alt) !important; /* Custom color for the hover state */
}

._5b40bdd67543ba35-container ._2ea32c412048f708-link { /*Margin in threads bug?*/
  margin-left: -28px !important;
}

._39ec2e3dfb4fd2f2-card { /*Bot/User playing card color*/
  background-color: var(--background-secondary-alt);
}

._2338f50c3988e5ec-svg ._183c2cc3c55377b0-avatar, ._183c2cc3c55377b0-avatarContainer ._183c2cc3c55377b0-avatar {
  border-radius: 4px;
}

#app-mount > div.a3002d7de5be5280-appAsidePanelWrapper > div.a3002d7de5be5280-notAppAsidePanel > div.a3002d7de5be5280-app > div > div._960e4207cea8323e-layers._160d8e55254637e5-layers > div > div > div > div > div.f75fb00fb7356cbe-chat > div.f75fb00fb7356cbe-subtitleContainer > section > div > div._9293f6b2fc12398a-children > div:nth-child(2) > div > svg > rect {
  rx: 3px !important;
  stroke: var(--background-primary);
}
._44b0c28be7879b7b-avatarDecoration foreignObject[mask="url(#svg-mask-avatar-decoration-status-mobile-32)"] {
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M 0 0 L 100 0 L 100 70 99 56 L 82.5 56 C 82 57, 72 55, 67 69 L 67 100 L 0 100 Z" fill="black"/></svg>'); /*Mask for avatar decoration not finished yet(User Popout/Mobile)*/
}
._2338f50c3988e5ec-svg foreignObject {
  /* mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><polygon points="0,0 100,0 100,70.5 78,70.5 75.5,72 73.5,73.5 72,75.5 70.5,78 70.5,100 0,100" fill="black"/></svg>'); */
  mask: none;
}

._99f8cc7ad4790ce9-content > ._2338f50c3988e5ec-svg.a423bdd721ddcc83-mask { /*I forgor*/
  position: absolute !important;
  top: 25px !important;
  left: 25px !important; 
}
._1ce5d425feffd32a-circularImage, ._1ce5d425feffd32a-container img {
  border-radius: 5px;
}

.db811b930f9884ca-image {
  border-radius: var(--avatar-radius);
}
.f34534e8a5d3ca64-icon {
  border-radius: 4px;
}
.db811b930f9884ca-maskBackground {
  display: none;
}

._0d6162a4e6a4b802-contentWrapper._0d6162a4e6a4b802-contentWrapperExpanded, ._0d6162a4e6a4b802-wrapper._0d6162a4e6a4b802-wrapperVisible { /*Hiding the disturbing gift inventory ad at the bottom left*/
  display: none;
}


:root .userPopoutOuter_c69a7b {
  padding: 3.6px;
  border-radius: 12px;
}
:root .userProfileInner_c69a7b {
  border-radius: 10px;
}

/*Colors*/
._4b8d892e5bcb9bd7-bannedUser {
  background-color: var(--background-secondary); /*Simple Background add to main.css*/
}
.statusBubbleOuterAddStatusCursor_af9888::before, .statusBubbleOuterAddStatusCursor_af9888::after, .statusBubbleSingleLineWithTextShape_af9888::before, .statusBubbleSingleLineWithTextShape_af9888::after, .statusBubbleWithTextPadding_af9888 {  /*Bubbles*/
  background-color: var(--profile-gradient-primary-color);
  filter: drop-shadow(2px 2px 2px rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2)));  
} 
._8061a5f9dbf6d829-container { /*badges background*/
  background: rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-5)) !important;
}
 .popoverReactionHoverBar_f84418 {
  background-color: var(--background-secondary-alt);
}
.has-webkit-scrollbar ._740174f3d6a2c8fe-buttons {
  margin-right: 6px;
}

._1405b3b8e8eb5fd0-buttonSection {
  background: var(--background-primary);
}


.visual-refresh .ef3116c2da186559-wrapper {
  margin-bottom: 10px;
}

._5e434347c823b592-panels {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 0;
  min-width: 0;
  flex: 0 0 auto;
  border-top: 1px solid var(--app-border-frame);
  border-left: 1px solid var(--app-border-frame);
  container-type: inline-size;
  width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) - 20px);
  margin-left: 75px;
  background-color: var(--background-primary);
}

.visual-refresh.theme-darker, .visual-refresh .theme-darker {
  --background-primary: #23283d;
  --background-secondary: #1e2233;
  --background-secondary-alt: #191f2e;
  --background-tertiary: #101320;
  --background-accent: #9f72da;
  --background-brighter: #2d3550;
  --theme-base-color: #2d3550; 
  --bg-overlay: #23283d;
  --bg-overlay-1: #23283d;
  --bg-overlay-2: #23283d;
  --bg-overlay-3: #23283d;
  --bg-overlay-4: #1e2233;
  --bg-overlay-chat: #23283d;
  --bg-base-primary: #23283d;
  --bg-base-secondary: #23283d;
  --bg-base-tertiary: #101320;
  --card-primary-bg: #23283d;
  --background-base-lowest: #00000000;
  --background-base-low: #2c2e44;
  --bg-overlay-floating: var(--background-secondary-alt);

  --red: 163;
  --green: 66;
  --blue: 93;
  --accent-color: rgb(var(--red), var(--green), var(--blue));
  --accent-color-alpha: rgba(var(--red), var(--green), var(--blue), 0.5);
  
  --threshold: 0.5;
  --r: calc(var(--red) * 0.2126);
  --g: calc(var(--green) * 0.7152);
  --b: calc(var(--blue) * 0.0722);
  --sum: calc(var(--r) + var(--g) + var(--b));
  --per-brightness: calc(var(--sum) / 255);
  --accent-color-hsl: hsl(0, 0%, calc((var(--per-brightness) - var(--threshold)) * -1000%));
  /* Src: https://css-tricks.com/switch-font-color-for-different-backgrounds-with-css/ */
  
  --modal-background: #23283d;
  --background-mobile-primary: #23283d;
  --background-mobile-secondary: #1e2233;
  --channeltextarea-background: #191f2e;
  --background-message-hover: transparent;
  --background-modifier-hover: #00000010;
  --background-modifier-active: #0000001a;
  --background-modifier-selected: #0000001f;
  --deprecated-card-bg: #12141f63;
  --background-floating: #101320;
  --deprecated-quickswitcher-input-background: #101320;
  --elevation-low: none;
  --scrollbar-auto-thumb: #121722;
  --scrollbar-auto-track: #191f2e;
  --scrollbar-thin-thumb: #141925;
  --activity-card-background: #101320;
  --input-background: #1e2233;
}

._908e20001ad67812-divider {
  z-index: 0;
}

.f7ecaca5c80dbf3a-wrapper {
  background-color: var(--background-secondary-alt) !important;
}

._740174f3d6a2c8fe-buttons {
  margin-right: var(--space-8) !important;
}

.f34534e8a5d3ca64-iconInactive {
  border-radius: calc(var(--server-radius) - 4px) !important;
}

._99f8cc7ad4790ce9-content > ._44b0c28be7879b7b-mask._44b0c28be7879b7b-svg > g > svg{
  overflow: visible;
}

._99f8cc7ad4790ce9-content > ._44b0c28be7879b7b-mask._44b0c28be7879b7b-svg > g {
  transform: translateX(16px)
    translateY(18px);
}

._99f8cc7ad4790ce9-content > ._20a53846fe2e8513-avatar > div > svg > g > svg > rect {
  mask: none;
  height: 12px;
  width: 12px;
  rx: 2px;
  ry: 2px;
  transform: translateX(8px)
    translateY(6px);
}

._44b0c28be7879b7b-cursorDefault > mask > rect[fill="black"] {
  display: none;
}

._44b0c28be7879b7b-mask._44b0c28be7879b7b-svg > g > svg > mask > rect[fill="black"] {
  display: none;
}

._2ea32c412048f708-icon, ._2ea32c412048f708-modeUnreadImportant ._2ea32c412048f708-icon, ._2ea32c412048f708-modeUnreadImportant:hover ._2ea32c412048f708-icon {
  color: var(--accent-color);
}

._2ea32c412048f708-modeConnected ._2ea32c412048f708-icon, ._2ea32c412048f708-modeConnected:hover ._2ea32c412048f708-icon, ._2ea32c412048f708-modeSelected ._2ea32c412048f708-icon, ._2ea32c412048f708-modeSelected:hover ._2ea32c412048f708-icon {
  color: var(--accent-color);
  /* filter: contrast(1.7); */
}


#vc-spotify-player::before,
#vc-spotify-player::after {
  width: 100%;
}

.c322aadb96ff59c9-searchBar {
  border: none !important;
}

.icon_fea832 {
  position: absolute;
  top: 3px;
  left: -6px;
}

:root ._5e434347c823b592-base, :root ._5e434347c823b592-sidebar {
  background-color: var(--background-secondary-alt);
}
