/**
* @name Comfy
* @author Nyria#3863
* @maintained by Abdist
* @description Stay comfy while talking to your friends
* @invite rtBQX5D3bD
* @version 2.4
* @donate https://ko-fi.com/nyria
*/

@import "https://raw.githubusercontent.com/BlacklightYT/comfy/main/comfy/main.css";

@import "https://raw.githubusercontent.com/BlacklightYT/comfy/main/comfy/user-waves-nyan.css";

@import "https://comfy-themes.github.io/Discord/betterdiscord/no-scrollbar.css";

@import "https://comfy-themes.github.io/Discord/betterdiscord/better-spotify.css";

@import "https://raw.githubusercontent.com/BlacklightYT/comfy/main/comfy/banner.css";

:root {
  --disable-animations: 2s channel-unread infinite;
  --user-buttons-spacing: 8px;
  --user-buttons-color: rgba(194,166,200,1);
  --avatar-radius: 5px;
  --status-radius: 3px;
  --server-radius: 8px;
  --colored-emoji: grayscale(0%);
  --mention-color: #f04747;
  --unread-color: #7289da;
  --mention-color-bar: #c66262;
  --mention-color-background: #c662621f;
  --mention-color-hover: #c6626226;
  --chat-buttons:  rgba(194,166,200,1);
  --online: #43b581;
  --iddle: #faa61a;
  --dnd: #f04747;
  --offline: #747f8d;
  --streaming: #593695;
  --playing: #9b465e; /*The spotify wave and base color*/
  --role-circle: 5px;
  --discord-logo: none;
}

.visual-refresh.theme-darker, .theme-darker, .visual-refresh.theme-dark, .theme-dark {
  --background-primary: #23283d;
  --background-secondary: #1e2233;
  --background-secondary-alt: #191f2e;
  --background-tertiary: #101320;
  --background-accent: #9f72da;
  --background-brighter: #2d3550;

  --neutral-92: #1e2233;
  --neutral-86: #23283d;
  --background-base-lowest: #101320;
  --background-base-lower: #23283d;
  --chat-background-default: #191f2e;
  --background-surface-high: #191f2e;
  --background-gradient-high: #1e2233;
  
  /*The general accent color, if you want to have a different one 
  you have to modify the --red, --green and --blue vars.
  Why do I make it like that: as you can see in the src, having
  the opportunity to change the background color to anything
  leaves the possibility of hard readability. Thus changing the
  color of the text based on the perceived brightness makes it easier
  to read. this color gets represented by --accent-color-hsl
  */
  --red: 163;
  --green: 66;
  --blue: 93;
  --accent-color: rgb(var(--red), var(--green), var(--blue));
  --accent-color-alpha: rgba(var(--red), var(--green), var(--blue), 0.5);
  
  --threshold: 0.5;
  --r: calc(var(--red) * 0.2126);
  --g: calc(var(--green) * 0.7152);
  --b: calc(var(--blue) * 0.0722);
  --sum: calc(var(--r) + var(--g) + var(--b));
  --per-brightness: calc(var(--sum) / 255);
  --accent-color-hsl: hsl(0, 0%, calc((var(--per-brightness) - var(--threshold)) * -1000%));
  /* Src: https://css-tricks.com/switch-font-color-for-different-backgrounds-with-css/ */
  
  --modal-background: #23283d;
  --background-mobile-primary: #23283d;
  --background-mobile-secondary: #1e2233;
  --channeltextarea-background: #191f2e;
  --background-message-hover: transparent;
  --background-modifier-hover: #00000010;
  --background-modifier-active: #0000001a;
  --background-modifier-selected: #0000001f;
  --deprecated-card-bg: #12141f63;
  --background-floating: #101320;
  --deprecated-quickswitcher-input-background: #101320;
  --elevation-low: none;
  --scrollbar-auto-thumb: #121722;
  --scrollbar-auto-track: #191f2e;
  --scrollbar-thin-thumb: #141925;
  --activity-card-background: #101320;
  --input-background: #1e2233;
}

/* Avatar go back to the left side */
:root .panels_c48ade > .container__37e49 > .avatarWrapper__37e49 {position: static;}
:root .panels_c48ade > .container__37e49 > .avatarWrapper__37e49 > .avatar__37e49 {
  width: 32px !important;
  height: 32px !important;
}
:root .panels_c48ade > .container__37e49 > .avatarWrapper__37e49 > .avatar__37e49 foreignObject {
  width: 32px !important;
  height: 32px !important;
}
:root .panels_c48ade > .container__37e49 > .avatarWrapper__37e49 > .avatar__37e49 .pointerEvents__44b0c {
  x:  22px;
  y: 22px;
}
:root section.panels_c48ade > .container__37e49 { 
  height: 52px;
  justify-content: space-between;
}
:root section.panels_c48ade > .container__37e49 > .flex__7c0ba {
  position: static;
  flex-direction: row;
  width: unset;
  z-index: unset;
  background: transparent;
  padding: 0;
}
:root .panels_c48ade > .container__37e49 > .avatarWrapper__37e49 > .avatar__37e49 + .nameTag__37e49 {display: block;max-width: 85px;}
:root section.panels_c48ade > .container__37e49 > .flex__7c0ba > .button__67645 { margin: auto;}
:root nav.guilds_c48ade .scroller-2TZvBN, :root nav.guilds_c48ade .scroller_ef3116 { padding-bottom: 0;}
:root .chat_f75fb0 .form_f75fb0 { padding-left: 16px;}
:root .chat_f75fb0 .form_f75fb0 .channelTextArea_f75fb0 .scrollableContainer__74017::after, :root .chat_f75fb0 .form_f75fb0 .wrapper__44df5::after { content: none;} 
/* Username role background */

.cozy_c19a55 .headerText_c19a55 > .username_c19a55::before {
  content: ''; 
  width: calc(100% + 10px); 
  height: 100%;
  border-radius: 5px;
  background-color: currentColor; 
  opacity: 0.2; 
  position: absolute; 
  top: 0; 
  z-index: -1;
  left: -5px;
}
.cozy_c19a55 .headerText_c19a55 > .username_c19a55 {
  margin-left: 5px;
}

.messageListItem__5126c {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);

  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.messageListItem__5126c:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #3e2f5091; /*Change this to change the color*/
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 20px;
  opacity: 30%;
}
.messageListItem__5126c:hover,
.messageListItem__5126c:focus,
.messageListItem__5126c:active {
  color: white;
}
.messageListItem__5126c:hover:before,
.messageListItem__5126c:focus:before,
.messageListItem__5126c:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.cozy_c19a55 .headerText_c19a55 > .username_c19a55::before {
  content: ''; 
  width: calc(100% + 10px); 
  height: 100%;
  border-radius: 5px;
  background-color: currentColor; 
  opacity: 0.2; 
  position: absolute; 
  top: 0; 
  z-index: -1;
  left: -5px;
}
.cozy_c19a55 .headerText_c19a55 > .username_c19a55 {
  margin-left: 5px;
}

.typing_b88801 .text_b88801 { display: flex; align-items: center;}

.typing_b88801 .text_b88801 strong { 
  margin: 0 3px;
  line-height: 21px;
  animation: slideUp 300ms;
}
@keyframes slideUp {
  0% { margin-top: -50px;}
  100% { margin-top: 0;}
}

:root {  
  /* This isn't shown in my screenshot but I think it looks cool */
  /* --interactive-active: #6FD6A2; */
  
  /* channel colors */
  --hovering-over-channel: var(--background-mentioned);
  --channel-icon: var(--accent-color);
  --channel-text-area-placeholder: #6d728ab9;

  /* 1. when mentioning a channel bg color */
  --mention-background: var(--background-mentioned);

  /* 1. when pinged, foreground color */
  --mention-foreground: var(--main-color);

  /* 1. when pinged, background color  */
  --background-mentioned: #a3425d17;
  --background-mentioned-hover: #a3425d21;
  
  /* 2. color of message you're replying to */
  --background-message-highlight: var(--background-secondary-alt);

  /* 2. when hovering over a message you're replying to */
  --brand-experiment-10a: #a3425d21;

  /* outline of reactions */
  --brand-experiment: #a3425d49; 
  --brand-experiment-15a: var(--background-mentioned-hover);

  /* makes muted text color a little more blue */
  --interactive-muted: #565c7bb9;  
}

/* 1. changing the border color of in-chat mention + reply */
:root .mentioned__5126c::before { background-color: var(--main-color); }
:root .message__5126c::before { background-color: var(--main-color); }

/* 1. when hovering over channel mentions */
:root .channelMention:hover, .mention:hover { 
  text-decoration: none !important;
  color: var(--main-color);
  background-color: var(--background-mentioned-hover); 
}

/* 5. make bg of quick reacts transparent */
:root .customItem_c1e9c4 .button_f563df {
  background-color: transparent; 
}

/* 6. change color of NEW bar to main color */
:root .divider__908e2 .unreadPill__908e2 {
  position: relative;
  color: var(--main-color);
  top: 0; 
}

/* 6. change color of new message date to accent color */
:root .isUnread__908e2 .content__908e2 {
  color: var(--accent-color) !important; 
}

.container_c2b141 {
  position: relative;
  left: -75px;
  top: -25px;
}

.footerSeparator__49fc1 {
  background-color: var(--background-brighter);
}

.avatar_c19a55{
  border-radius: var(--avatar-radius);
}

.customHeader__5906b{
  padding-top: 120px;
}

.contentColumnDefault__23e6b{
  padding: 120px 40px 80px
}

.scroller_d20375{
  background-color: var(--background-brighter);
}

.closeButton_c2b141 {
  position: relative;
  border-radius: 5px;
}

.button_fb7f94 {
  border-radius: 5px;    
}

.form_d9be46 .submitButton_d9be46, 
.sortDropdown_f369db, .pill_a2c9e8, .tagsButton_f369db,
.lookFilled__201d5.colorPrimary__201d5  {
  border-radius: 6px;
}

.votePercentageBar__4c520 {
  background-color: var(--accent-color);
}

.victorStyles_a1443c {
  --custom-poll-style-border: var(--accent-color);
}

.flowerStar__3e3b0 {
  filter: hue-rotate(60deg);
}

.answerSelectionIcon__4c520 {
  filter: hue-rotate(560deg);
}

.answerInner__4c520 {
  background-color: var(--background-primary);
}

.divider_ee23ac {
  background-color: var(--background-secondary);
}

.theme-dark .textContentFooter__9a337.noTags__9a337 {
  background: none;
  /*background: linear-gradient(to top,hsl(var(--primary-600-hsl)/1),hsl(var(--primary-600-hsl)/0));*/
}

.matchingPostsRow_f369db {
  background-color: var(--background-brighter);
}

.contentColumn__23e6b.contentColumnDefault__23e6b .grabber_a562c8 { /*Options Volume Grabber position FIX*/
  position: absolute;
  top: 21px !important;
}
#user-context-user-volume > div.sliderContainer__65039 > div > div:nth-child(3) > div { /*Direct Path to User Volume Grabber position FIX + ²*/
  position: absolute;
  top: 10px;
  border-radius: 4px;
}

/*User Popout*/

.accountProfileCard__1fed1 mask, .biteSizeInner_c69a7b mask, .fullSizeOuter_c69a7b mask, .userPanelOuter_c69a7b mask { /*Banner Circle mask removal*/
  display: none;
}
.iconContainerLeft_c1e9c4.iconContainer_c1e9c4 foreignObject, .item_c1e9c4.colorDefault_c1e9c4 foreignObject { /*Not the status icons*/
  mask-image: none;
}
.svg__2338f {
  border-radius: 2px;
}
.avatar__75742.user-profile-popout.clickable__75742, .avatar__75742 { /*Avatar "shadow"*/
  filter: drop-shadow(3px 3px 3px rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2)));  
}


.body_ce8328, .body__5be3e { /*Padding Issue for Activity FIX*/
  padding-right: 16px !important
}

.activity_f00225 {
  background-color: var(--background-secondary-alt); /*Spotify*/
}

.overlay__75742:after { /*Profile Avatar Hover FIX*/
  border-radius: var(--avatar-radius);  
}
.avatarStack__44b0c.overlay_d28e10::after { /*Profile Avatar Hover FIX (Settings)*/
  border-radius: var(--avatar-radius);
}
.footer__5be3e { /*Edit Profile Padding FIX*/
  padding: 0 12px 12px;
}


@-webkit-keyframes transition {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.clickableUsername__63ed3, .nickname__63ed3.user-profile-modal{ /*User Name Gradient*/
  background: linear-gradient(90deg, #feb47b, #ff7e5f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: transition 10s infinite linear;
}
.nickname__63ed3, .usernameRow__63ed3 {
  background: linear-gradient(90deg, #feb47b, #ff7e5f);
  -webkit-background-clip: text;  
  filter: drop-shadow(1px 1px 1px #555);
}
.userTagUsername__63ed3{
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: transition 10s infinite linear;
}
.userTag__63ed3 {
  font-size: 15px;
  font-weight: 600;  
  -webkit-background-clip: text;
  filter: drop-shadow(1px 1px black);
}

.px__82f07 {
  background-color: var(--accent-color);
}

[class*=messageContent] :is(h1, h2, h3) {
  color: var(--accent-color);
}
[class*=messageContent] strong {
  color: var(--accent-color);
}

.reaction__23977.reactionMe__23977 {
  border-color: var(--accent-color);
  background-color: var(--accent-color-alpha);
}

.reaction__23977.reactionMe__23977:hover {
  filter: brightness(1.15);
}


.barFill_a562c8 { /*Drag Bars Color*/
  background-color: var(--accent-color);
}
.lookFilled__201d5.colorBrand__201d5 { /*Buttons Color*/
  background-color: var(--background-brighter);
}
.lookFilled__201d5.colorBrand__201d5:hover { /*Buttons Color Hover*/
  background-color: var(--background-brighter);
  filter: brightness(0.9);
}
.lookFilled__201d5.colorPrimary__201d5:hover {
  filter: brightness(0.9);
}

.wrapper__6e9f8:hover .childWrapper__6e9f8, .wrapper__6e9f8.selected__6e9f8 .childWrapper__6e9f8 {
  background-color: var(--accent-color);
}

.button_e131a9 .buttonColor_e131a9.buttonActive_e131a9, .button_e131a9.buttonColor_e131a9.buttonActive_e131a9 {
  background-color: var(--background-brighter);
  filter: brightness(0.8);
}

.button_e131a9 .buttonColor_e131a9.buttonActive_e131a9, .button_e131a9.buttonColor_e131a9.buttonActive_e131a9:hover {
  background-color: var(--background-brighter);
  filter: brightness(1.3);
}


.iconBadge__650eb.isCurrentUserConnected__650eb {
  background-color: var(--background-accent);
}

.wrapper_cc5dd2:hover {
  filter: brightness(1.4);
  filter: saturate(1.6);
}

.vcd-screen-picker-radio[data-checked=true] {
  background-color: var(--accent-color) !important;
  border-color: var(--accent-color) !important;
}

.vcd-screen-picker-radios label:hover {
  filter: brightness(0.8);
}

.select__3f413:hover {
  filter: brightness(0.8);
}

.lookFilled__201d5.colorBrand__201d5 {
  border-radius: 5px;
}

.vc-spotify-button:hover {
  border-radius: 5px;
}


.circleIconButton__5bc7e {
  color: var(--background-accent);
}
.circleIconButton__5bc7e:hover {
  background-color: var(--background-accent);
}
.circleIconButton__5bc7e.selected__5bc7e {
  background-color: var(--background-accent);
}


.welcomeCTAButtonOuter_f5d1e2.button__201d5.lookFilled__201d5.colorPrimary__201d5.sizeMedium__201d5.grow__201d5 {
  background-color: var(--background-secondary);
}


.form_d9be46.submitButton_d9be46.sortDropdown_f369db.pill_a2c9e8.tagsButton_f369db.lookFilled__201d5.colorPrimary__201d5{
  background-color: var(--background-tertiary);
}
.list_d1405b{
  background-color: var(--background-primary);
}
.categoryHeader_d1405b{
  background-color: var(--background-secondary);
}


.contentColumn__23e6b.contentColumnDefault__23e6b .grabber_a562c8, .content__49fc1.thin_d125d2.scrollerBase_d125d2 .grabber_a562c8 { /*Server Soundboard Volume Grabber position FIX*/
  top: 20px;
}

.lookFilled__201d5.colorBrand__201d5:disabled, .lookFilled__201d5.colorBrand__201d5[aria-disabled=true] { /*Server Soundboard Not allowed button color fix*/
  background-color: var(--background-secondary);
}

.userPopoutInner_c69a7b.userProfileInner_c69a7b.userProfileInnerThemedNonPremium_c69a7b .popoutBanner_c3e427 { /*Approved and Not-Approved Bot banner fix*/
  height: 160px;
  position: absolute;
  top: 30px;
}
.userPopoutInner_c69a7b.userProfileInner_c69a7b.userProfileInnerThemedNonPremium_c69a7b .userPopoutOverlayBackground_c69a7b.overlayBackground_c69a7b {
  margin-top: 56px;
}

/*User Popup non Premium Color Theme*/
.userPopoutInner_c69a7b.userProfileInner_c69a7b.userProfileInnerThemedNonPremium_c69a7b .button_b709ea.button__201d5.lookFilled__201d5.colorPrimary__201d5.sizeSmall__201d5.grow__201d5,
.button__201d5.lookFilled__201d5.colorPrimary__201d5.sizeIcon__201d5.grow__201d5 {
  background-color: var(--background-secondary);
}
.biteSizeOuter_c69a7b.userPopoutOuter_c69a7b.userProfileOuter_c69a7b.userProfileOuterUnthemed_c69a7b.theme-dark.images-dark .container_d1d9f3 {
  background-color: var(--background-secondary);
}
.biteSizeOuter_c69a7b.userPopoutOuter_c69a7b.userProfileOuter_c69a7b.userProfileOuterUnthemed_c69a7b.theme-dark.images-dark .biteSizeInnerThemed_c69a7b {
  background-color: var(--background-tertiary);
}

.fullSizeOuter_c69a7b.userProfileOuter_c69a7b.userProfileOuterUnthemed_c69a7b.theme-dark.images-dark .container_d1d9f3, 
.fullSizeOuter_c69a7b.userProfileOuter_c69a7b.userProfileOuterUnthemed_c69a7b.theme-dark.images-dark .button_fb7f94.button__201d5.lookFilled__201d5.colorPrimary__201d5.themeColor_fb7f94.primary_fb7f94.sizeSmall__201d5.grow__201d5,
.fullSizeOuter_c69a7b.userProfileOuter_c69a7b.userProfileOuterUnthemed_c69a7b.theme-dark.images-dark .fullSizeOverlayBackground_c69a7b {
  background-color: var(--background-secondary);
}
.fullSizeOuter_c69a7b.userProfileOuter_c69a7b.userProfileOuterUnthemed_c69a7b.theme-dark.images-dark .fullSizeInnerThemed_c69a7b {
  background-color: var(--background-tertiary);
}


.biteSizeOuter_c69a7b.userPopoutOuter_c69a7b.userProfileOuter_c69a7b.userProfileOuterUnthemed_c69a7b.theme-dark.images-dark .role_dfa8b6.pill_dfa8b6,
.biteSizeOuter_c69a7b.userPopoutOuter_c69a7b.userProfileOuter_c69a7b.userProfileOuterUnthemed_c69a7b.theme-dark.images-dark .showMoreButton_c83b44.pill_fccfdf,
.biteSizeOuter_c69a7b.userPopoutOuter_c69a7b.userProfileOuter_c69a7b.userProfileOuterUnthemed_c69a7b.theme-dark.images-dark .button_fb7f94.button__7d7f7.button__201d5.lookFilled__201d5,
.biteSizeOuter_c69a7b.userPopoutOuter_c69a7b.userProfileOuter_c69a7b.userProfileOuterUnthemed_c69a7b.theme-dark.images-dark .container__8061a,
.biteSizeOuter_c69a7b.userPopoutOuter_c69a7b.userProfileOuter_c69a7b.userProfileOuterUnthemed_c69a7b.theme-dark.images-dark .button__7d567.button__201d5.lookFilled__201d5.buttonColor_f00225.buttonSize__7d567.fullWidth__201d5.grow__201d5 {
  background-color: var(--background-secondary);
}

.iconWrapper__54b20{
  background-color: var(--background-secondary);
}

.fullSizeOuter_c69a7b.userProfileOuter_c69a7b.userProfileOuterUnthemed_c69a7b.theme-dark.images-dark .lookFilled__201d5.colorPrimary__201d5.themeColor_fb7f94.primary_fb7f94,
.fullSizeOuter_c69a7b.userProfileOuter_c69a7b.userProfileOuterUnthemed_c69a7b.theme-dark.images-dark .button_fb7f94.button__201d5.lookFilled__201d5.colorBrand__201d5.themeColor_fb7f94.primary_fb7f94.sizeSmall__201d5.grow__201d5 {
  background-color: var(--background-secondary);
}


.title_f75fb0.forumOrHome__49676.container__9293f.themed__9293f { /*thread top band color*/
  background-color: var(--background-primary);
}
.scroller__6b0e0.thin_d125d2.scrollerBase_d125d2 { /*@ Scroll list color*/
  background-color: var(--background-secondary);
}



/* .appMount__51fd7 .app_a3002d { opacity: 0; transition: 0.15s;}
.appMount__51fd7:hover .app_a3002d { opacity: 1; transition: 0.15s;}
.appMount__51fd7:after {
  content: "";
  position: fixed;
  background: url('https://raw.githubusercontent.com/T3M1N4L/T3M1N4L/main/images/XOsX.gif') center/20% no-repeat;
  width: 100%; height: 100%;
  opacity: 1;
}
.appMount__51fd7:hover:after { opacity: 0; pointer-events: none;}
.role_dfa8b6 {
  transform: translate(0);
  overflow: hidden;
  border: 0;

  --transparency: .4;
  border-radius: 5px;
} */

.fieldList__1fed1 .form_d9be46 .submitButton_d9be46, .sortDropdown_f369db, .pill_a2c9e8, .tagsButton_f369db, .lookFilled__201d5.colorPrimary__201d5 {
  background-color: var(--background-brighter);
}
.fieldList__1fed1 .form_d9be46 .submitButton_d9be46, .sortDropdown_f369db, .pill_a2c9e8, .tagsButton_f369db, .lookFilled__201d5.colorPrimary__201d5:hover {
  background-color: var(--background-brighter);
}

.votedStyles_a1443c{
  --custom-poll-style-border: var(--accent-color)
}

.answerSelectionIcon__4c520 {
  filter: hue-rotate(100deg);
}
.victorIcon_f69538 {
  filter: hue-rotate(200deg);
}

.answer__4c520 .answerInner__4c520.currentlyVoting__4c520.selected__4c520 {
  outline: 1px solid var(--accent-color)
}

.theme-dark .lookFilled__201d5.colorTransparent__201d5{
  background-color: var(--background-secondary);
}
.theme-dark .lookFilled__201d5.colorTransparent__201d5:hover{
  background-color: var(--background-secondary-alt);
}

.iconBadge__650eb.isCurrentUserConnected__650eb, .iconBadge__650eb {
  background-color: var(--mention-color);
  border-radius: 5px;
  /* filter: 
    hue-rotate(40deg)
    brightness(1.3)
    drop-shadow(-1px 2px 0 rgba(40, 40, 40 ,0.9)); */
  /* animation: transition 15s infinite; */
}
.numberBadge__2b1f5.base__2b1f5.eyebrow__2b1f5.baseShapeRound__2b1f5 {
  border-radius: 5px;
  /* filter:
    brightness(1.2) 
    hue-rotate(45deg)
    drop-shadow(-1px -1px 0 rgba(40, 40, 40 ,0.9)); */
}

.icon__2b1f5 {
  position: relative;
  bottom: 0.05rem;
}

.footerSeparator__49fc1 {
  background-color: var(--background-secondary-alt);
}
.botTagRegular__82f07 {
  background-color: var(--accent-color);
}
.botTagCozy_c19a55.botTag_c19a55.botTagRegular__82f07.botTag__82f07.rem__82f07 .botText__82f07 {
  top: 0;
}
.botText__82f07 {
  color: var(--accent-color-hsl);
}
.botTagVerified__82f07 path {
  fill: var(--accent-color-hsl);
}

.ping__06d62, .labelWrapper__06d62 {
  animation: transition 10s infinite;
}

.ownerIcon__5d473.icon__5d473 {
  position: absolute;
  rotate: 25deg;
  left: 29px;
  top: -3px;
  animation: transition 15s infinite;
}

.premiumIcon__5d473.icon__5d473 {
  animation: transition 20s infinite;
}

.vc-gp-owner img{
  height: 15px;
}
.vc-mentionAvatars-avatar {
  margin: 1px;
}

.vc-membercount-total-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 3px solid var(--color-total);
  margin: 0 .5em 0 1em;
  box-sizing: border-box;
}

.vc-membercount-online-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 .5em 0 1em;
  margin-left: 0px;
  box-sizing: border-box;
}

.settingsGroup_c6d3dc .item__3d4a0.selectorButton_c6d3dc.selectorButtonSelected_c6d3dc::before {
  background-color: var(--accent-color);
}
button.item__3d4a0.selectorButton_c6d3dc:hover::before {
  background-color: var(--accent-color);
  filter: brightness(1.1);
}
.settingsGroup_c6d3dc .item__3d4a0.selectorButton_c6d3dc.selectorButtonSelected_c6d3dc:hover {
  filter: brightness(0.8);
}

.checkbox_f525d3.box_f525d3.checked_f525d3,
.checkbox_f525d3.box_f525d3.checked_f525d3 {
  border-color: var(--accent-color) !important;
  background-color: var(--accent-color) !important;
}

.drawerSizingWrapper__9c62c .contentWrapper__9c62c {
  background-color: var(--background-secondary);
}
.container_cb32c7 .appDetailsContainer_cb32c7 {
  background-color: var(--background-tertiary);
}
.appDetailsContainer_cb32c7 {
  background-color: var(--background-brighter);
}

.footer__3d3b0.inApp_c5a065 {
    background-color: var(--background-secondary);
}

.scrollableContent__927fc.thin_d125d2.scrollerBase_d125d2.fade_d125d2 {
  padding-right: 15px !important;
}

.avatarSmall__07f91 {
  border-radius: var(--avatar-radius);
}

.status__2f4f7.interactive__2f4f7 {
  border-radius: 8px;
}

.hangStatusSmall__2f4f7.hangStatusContainer__2f4f7, .hangStatusContainer__2f4f7 {
  border-radius: 12px;
}

.hangStatusSmall__2f4f7 .hangStatusIcon__2f4f7 {
  margin-left: 0.02rem !important;
  margin-bottom: 0.02rem !important;
}

.appLauncherOnboardingCommandName_c19a55.clickable_c19a55:hover {
  background-color: var(--accent-color);
}

.appsIcon_c19a55::after path {
  fill: var(--accent-color);
}

.appLauncherOnboardingCommandName_c19a55.clickable_c19a55 {
  color: var(--accent-color);
}


.staticButton_f1ceac.centerButton_f1ceac.colorable_f1ceac.primaryDark_f1ceac.button__201d5.lookBlank__201d5.colorBrand__201d5 {
  background-color: var(--background-secondary);
  border-radius: 14px;
}
.app__160d8 button, .actionButton_f8fa06 {
  border-radius: 14px;
}

.imageUploaderInner_e4d0bf.avatarUploaderInner_cd0bbe {
  border-radius: var(--server-radius);
}

.avatar_fc8177, .imageUploaderIcon_e4d0bf.theme-light.images-light {
  border-radius: var(--avatar-radius);
}

.connectedAccountNameText_e6abe8 { 
  cursor: wait;
}


.username_c19a55::before { /*Code Snippet by @nyri4 - Username Background color*/
  content: ''; 
  width: calc(100% + 10px); 
  height: 100%;
  border-radius: 5px;
  background-color: currentColor; 
  opacity: 0.2; 
  position: absolute; 
  top: 0; 
  z-index: -1;
  left: -5px;
}
.username_c19a55 {
  margin-left: 5px;
}

.member__5d473:hover { /*Code Snippet by @krixical - User hover anim.*/
  transition: all 0.2s;
  transform: translatex(-3px);
}
.link__972a0:hover, .link__2ea32:hover {
  transition: all 0.2s;
  transform: translatex(3px);
}

.content_f75fb0.container__0b563, .pageBody__41ed7 { /*Channels&roles color*/
  background-color: var(--background-primary) !important;
}
.prompt__5d7c9, .profileCard__5d7c9 {
  background-color: var(--background-secondary);
}
.content__99f8c.scrollerInner_e4503a {
  background-color: var(--background-secondary);
  margin-right: 15px;
}
.header__0b563.container__9293f.themed__9293f {
  background-color: var(--background-primary) !important;
}

.lookOutlined__201d5.colorPrimary__201d5 { /*Return to help in channels&roles*/
  border-color: var(--background-brighter);
}
.lookOutlined__201d5.colorPrimary__201d5:hover {
  background-color: var(--background-secondary-alt);
  border-color: var(--background-tertiary);
}

.action_c66e86 { /*Server guide buttons*/
  background-color: var(--background-secondary);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

/* Define the state when the action occurs (e.g., on hover) */
.action_c66e86:hover {
  background-color: var(--background-secondary-alt) !important; /* Custom color for the hover state */
}

.container__5b40b .link__2ea32 { /*Margin in threads bug?*/
  margin-left: -28px !important;
}

.card__39ec2 { /*Bot/User playing card color*/
  background-color: var(--background-secondary-alt);
}

.svg__2338f .avatar__183c2, .avatarContainer__183c2 .avatar__183c2 {
  border-radius: 4px;
}

#app-mount > div.appAsidePanelWrapper_a3002d > div.notAppAsidePanel_a3002d > div.app_a3002d > div > div.layers__960e4.layers__160d8 > div > div > div > div > div.chat_f75fb0 > div.subtitleContainer_f75fb0 > section > div > div.children__9293f > div:nth-child(2) > div > svg > rect {
  rx: 3px !important;
  stroke: var(--background-primary);
}
.avatarDecoration__44b0c foreignObject[mask="url(#svg-mask-avatar-decoration-status-mobile-32)"] {
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M 0 0 L 100 0 L 100 70 99 56 L 82.5 56 C 82 57, 72 55, 67 69 L 67 100 L 0 100 Z" fill="black"/></svg>'); /*Mask for avatar decoration not finished yet(User Popout/Mobile)*/
}
.svg__2338f foreignObject {
  /* mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><polygon points="0,0 100,0 100,70.5 78,70.5 75.5,72 73.5,73.5 72,75.5 70.5,78 70.5,100 0,100" fill="black"/></svg>'); */
  mask: none;
}

.content__99f8c > .svg__2338f.mask_a423bd { /*I forgor*/
  position: absolute !important;
  top: 25px !important;
  left: 25px !important; 
}
.circularImage__1ce5d, .container__1ce5d img {
  border-radius: 5px;
}

.image_db811b {
  border-radius: var(--avatar-radius);
}
.icon_f34534 {
  border-radius: 4px;
}
.maskBackground_db811b {
  display: none;
}

.contentWrapper__0d616.contentWrapperExpanded__0d616, .wrapper__0d616.wrapperVisible__0d616 { /*Hiding the disturbing gift inventory ad at the bottom left*/
  display: none;
}


:root .userPopoutOuter_c69a7b {
  padding: 3.6px;
  border-radius: 12px;
}
:root .userProfileInner_c69a7b {
  border-radius: 10px;
}

/*Colors*/
.bannedUser_cdb2b0 {
  background-color: var(--background-secondary); /*Simple Background add to main.css*/
}
.statusBubbleOuterAddStatusCursor_af9888::before, .statusBubbleOuterAddStatusCursor_af9888::after, .statusBubbleSingleLineWithTextShape_af9888::before, .statusBubbleSingleLineWithTextShape_af9888::after, .statusBubbleWithTextPadding_af9888 {  /*Bubbles*/
  background-color: var(--profile-gradient-primary-color);
  filter: drop-shadow(2px 2px 2px rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2)));  
} 
.container__8061a { /*badges background*/
  background: rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-5)) !important;
}
 .popoverReactionHoverBar_f84418 {
  background-color: var(--background-secondary-alt);
}
.has-webkit-scrollbar .buttons__74017 {
  margin-right: 6px;
}

.buttonSection__1405b {
  background: var(--background-primary);
}


.visual-refresh .wrapper_ef3116 {
  margin-bottom: 10px;
}

.panels_c48ade {
  display: flex !important;
  flex-direction: column !important;
  overflow: hidden !important;
  min-height: 0 !important;
  min-width: 0 !important;
  flex: 0 0 auto !important;
  border-top: 1px solid var(--app-border-frame) !important;
  border-left: 1px solid var(--app-border-frame) !important;
  container-type: inline-size !important;
  width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) - 20px) !important;
  margin-left: 75px !important;
  background-color: var(--background-primary) !important;
}

.visual-refresh.theme-darker, .visual-refresh .theme-darker {
  --background-primary: #23283d;
  --background-secondary: #1e2233;
  --background-secondary-alt: #191f2e;
  --background-tertiary: #101320;
  --background-accent: #9f72da;
  --background-brighter: #2d3550;
  --theme-base-color: #2d3550; 
  --bg-overlay: #23283d;
  --bg-overlay-1: #23283d;
  --bg-overlay-2: #23283d;
  --bg-overlay-3: #23283d;
  --bg-overlay-4: #1e2233;
  --bg-overlay-chat: #23283d;
  --bg-base-primary: #23283d;
  --bg-base-secondary: #23283d;
  --bg-base-tertiary: #101320;
  --card-primary-bg: #23283d;
  --background-base-lowest: #00000000;
  --background-base-low: #2c2e44;
  --bg-overlay-floating: var(--background-secondary-alt);

  --red: 163;
  --green: 66;
  --blue: 93;
  --accent-color: rgb(var(--red), var(--green), var(--blue));
  --accent-color-alpha: rgba(var(--red), var(--green), var(--blue), 0.5);
  
  --threshold: 0.5;
  --r: calc(var(--red) * 0.2126);
  --g: calc(var(--green) * 0.7152);
  --b: calc(var(--blue) * 0.0722);
  --sum: calc(var(--r) + var(--g) + var(--b));
  --per-brightness: calc(var(--sum) / 255);
  --accent-color-hsl: hsl(0, 0%, calc((var(--per-brightness) - var(--threshold)) * -1000%));
  /* Src: https://css-tricks.com/switch-font-color-for-different-backgrounds-with-css/ */
  
  --modal-background: #23283d;
  --background-mobile-primary: #23283d;
  --background-mobile-secondary: #1e2233;
  --channeltextarea-background: #191f2e;
  --background-message-hover: transparent;
  --background-modifier-hover: #00000010;
  --background-modifier-active: #0000001a;
  --background-modifier-selected: #0000001f;
  --deprecated-card-bg: #12141f63;
  --background-floating: #101320;
  --deprecated-quickswitcher-input-background: #101320;
  --elevation-low: none;
  --scrollbar-auto-thumb: #121722;
  --scrollbar-auto-track: #191f2e;
  --scrollbar-thin-thumb: #141925;
  --activity-card-background: #101320;
  --input-background: #1e2233;
}

.divider__908e2 {
  z-index: 0;
}

.wrapper_f7ecac {
  background-color: var(--background-secondary-alt) !important;
}

.buttons__74017 {
  margin-right: var(--space-8) !important;
}

:root .iconInactive_f34534 {
  border-radius: calc(var(--server-radius) - 4px) !important;
}

/*Bottom Left*/
.appAsidePanelWrapper_a3002d .avatarWrapper__37e49 > .wrapper__44b0c.avatar__37e49 > svg.mask__44b0c.svg__44b0c > g > rect {
  x: 5px;
  y: 2px;
}
.appAsidePanelWrapper_a3002d .wrapper__44b0c.avatar__37e49 > svg.mask__44b0c.svg__44b0c > g > svg > mask > rect {
  x: 5px;
  y: 2px;
  rx: 2px;
  ry: 2px;
}

/*Bottom Left Popout*/
svg.mask__44b0c.svg__44b0c > g > rect {
  x: 12.5px;
  y: 8px;
}
.cursorDefault__44b0c > mask > rect{
  rx: 2px;
  ry: 2px;
}

/* Right side*/
.avatar__91a9d > div > svg.mask__44b0c.svg__44b0c > g > svg > rect {
  mask: none;
  position: fixed;
  z-index: 3;
  width: 12px;
  height: 10px;
  x: 7px;
  y: 5px;
  rx: 4px;
  ry: 4px;
}
.memberInner__5d473.layout__91a9d > .avatar__91a9d > .wrapper__44b0c > svg.mask__44b0c.svg__44b0c > g > .pointerEvents__44b0c[width="10"]:not([mask="url(#svg-mask-status-online-mobile)"])[fill="transparent"]{
  x: 7px;
  y: 4px;
}
.memberInner__5d473.layout__91a9d > .avatar__91a9d > .wrapper__44b0c > svg.mask__44b0c.svg__44b0c > g {
  transform: translateX(17px)
   translateY(20px);
}

.content__99f8c > .pointerEvents__44b0c[fill="transparent"] {
  x: 8px !important;
  y: 6px !important;
}

.content__99f8c > .mask__44b0c.svg__44b0c > g > svg{
  overflow: visible;
}

.content__99f8c > .mask__44b0c.svg__44b0c > g {
  transform: translateX(16px)
    translateY(18px);
}

.content__99f8c > .avatar__20a53 > div > svg > g > svg > rect {
  mask: none;
  height: 12px;
  width: 12px;
  rx: 2px;
  ry: 2px;
  transform: translateX(8px)
    translateY(6px);
}

.cursorDefault__44b0c > mask > rect[fill="black"] {
  display: none;
}

.mask__44b0c.svg__44b0c > g > svg > mask > rect[fill="black"] {
  display: none;
}

.icon__2ea32, .modeUnreadImportant__2ea32 .icon__2ea32, .modeUnreadImportant__2ea32:hover .icon__2ea32 {
  color: var(--accent-color);
}

.modeConnected__2ea32 .icon__2ea32, .modeConnected__2ea32:hover .icon__2ea32, .modeSelected__2ea32 .icon__2ea32, .modeSelected__2ea32:hover .icon__2ea32 {
  color: var(--accent-color);
  /* filter: contrast(1.7); */
}


#vc-spotify-player::before,
#vc-spotify-player::after {
  width: 100%;
}

.searchBar__97492 {
  border: none !important;
}

.icon_fea832 {
  position: absolute;
  top: 3px;
  left: -6px;
}
